<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            Contactabilidad
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group text-center font-weight-bold">
                        % Contactabilidad por día (cartera con atraso)
                    </div>
                    <div class="form-group">
                        <app-chart-contactabilidad></app-chart-contactabilidad>
                    </div>
                    <div class="form-group">
                        <app-chart-contactabilidad></app-chart-contactabilidad>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group text-center font-weight-bold">
                        % Contactabilidad por día (cartera sin atraso)
                    </div>
                    <div class="form-group">
                        <app-chart-contactabilidad></app-chart-contactabilidad>
                    </div>
                    <div class="form-group">
                        <app-chart-contactabilidad></app-chart-contactabilidad>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
