<div class="modal-header">
  <h4 class="modal-title">Editar usuario</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>General</a>
      <ng-template ngbNavContent>
        <form [formGroup]="formGroup" (ngSubmit)="saveUsuario()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="usuario">Usario *</label>
                <input type="text" id="usuario" placeholder="Usario" class="form-control" formControlName="usuario"
                       autocomplete="off"
                       [ngClass]="
                    {
                    'is-invalid': formGroup.controls['usuario'].touched && formGroup.controls['usuario'].errors,
                    'is-valid': formGroup.controls['usuario'].touched && !formGroup.controls['usuario'].errors
                     }">
                <div class="invalid-feedback">
                  <span *ngIf="formGroup.get('usuario').hasError('required')">Obligatorio</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fechaInicioSesion">Desde el *</label>
                <input type="date" formControlName="fechaInicioSesion" id="fechaInicioSesion" class="form-control"
                       [ngClass]="
                      {
                      'is-invalid': formGroup.controls['fechaInicioSesion'].touched && formGroup.controls['fechaInicioSesion'].errors,
                      'is-valid': formGroup.controls['fechaInicioSesion'].touched && !formGroup.controls['fechaInicioSesion'].errors
                       }">
                <div class="invalid-feedback">
                  <span *ngIf="formGroup.get('fechaInicioSesion').hasError('required')">Obligatorio.</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fechaFinSesion">Hasta el *</label>
                <input type="date" formControlName="fechaFinSesion" id="fechaFinSesion" class="form-control"
                       [ngClass]="
                      {
                      'is-invalid': formGroup.controls['fechaFinSesion'].touched && formGroup.controls['fechaFinSesion'].errors,
                      'is-valid': formGroup.controls['fechaFinSesion'].touched && !formGroup.controls['fechaFinSesion'].errors
                       }">
                <div class="invalid-feedback">
                  <span *ngIf="formGroup.get('fechaFinSesion').hasError('required')">Obligatorio.</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="codTipoUsuario">Tipo de Usuario *</label>
                <select id="codTipoUsuario" class="form-control" formControlName="codTipoUsuario"
                        [ngClass]="
                      {
                      'is-invalid': formGroup.controls['codTipoUsuario'].touched && formGroup.controls['codTipoUsuario'].errors,
                      'is-valid': formGroup.controls['codTipoUsuario'].touched && !formGroup.controls['codTipoUsuario'].errors
                       }"
                >
                  <option *ngFor="let tu of tiposUsuarios" [value]="tu.codItem">{{tu.descripcion}}</option>
                </select>
                <div class="invalid-feedback">
                  <span *ngIf="formGroup.get('codTipoUsuario').hasError('required')">Obligatorio.</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="codEstado">Estado *</label>
                <select id="codEstado" class="form-control" formControlName="codEstado"
                        [ngClass]="
                      {
                      'is-invalid': formGroup.controls['codEstado'].touched && formGroup.controls['codEstado'].errors,
                      'is-valid': formGroup.controls['codEstado'].touched && !formGroup.controls['codEstado'].errors
                       }"
                >
                  <option *ngFor="let o of estados" [value]="o.codItem">{{o.descripcion}}</option>
                </select>
                <div class="invalid-feedback">
                  <span *ngIf="formGroup.get('codEstado').hasError('required')">Obligatorio.</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="form-group form-check">
                  <label>
                    <input type="checkbox" name="check" formControlName="inicioCierre">
                    Habilitado para cierre/inicio de día
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Accesos</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Permisos</a>
      <ng-template ngbNavContent>
        <div class="col-lg-12 col-sm-12">
          <div class="form-group">
            <label>
              <strong>Menu de acceso</strong>
            </label>
            <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)" *ngIf="!loading"
                          (selectedChange)="valoresMenus = $event">
            </ngx-treeview>
            <br *ngIf="loading">
            <label *ngIf="loading">
              <em>Cargando..., porfavor espere...</em>
            </label>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<div class="modal-footer d-flex justify-content-center">
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">Cancelar</button>
  <button class="btn btn-primary" (click)="saveUsuario()" [disabled]="formGroup.invalid">Aceptar</button>
</div>
<app-loading></app-loading>
