<div class="modal-header">
  <h4 class="modal-title">Editar usuario</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>General</a>
      <ng-template ngbNavContent>
        <form [formGroup]="userForm" (ngSubmit)="saveUsuario()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="usuario">Uusario *</label>
                <input Uppercase type="text" id="usuario" placeholder="Usario" class="form-control"
                       formControlName="usuario"
                       [ngClass]="
                    {
                    'is-invalid': userForm.controls['usuario'].touched && userForm.controls['usuario'].errors,
                    'is-valid': userForm.controls['usuario'].touched && !userForm.controls['usuario'].errors
                     }">
                <div class="invalid-feedback">
                  <span *ngIf="userForm.get('usuario').hasError('required')"> Número de documento de identidad es obligatorio</span>
                  <span *ngIf="userForm.get('usuario').hasError('minlength')"> {{messageDocIdInvalid}}</span>
                  <span
                    *ngIf="userForm.get('usuario').hasError('pattern')"> Ingrese caracteres alfanuméricos</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fechaInicio">Desde el *</label>
                <input type="date" formControlName="fechaInicio" id="fechaInicio" class="form-control"
                       [ngClass]="
                      {
                      'is-invalid': userForm.controls['fechaInicio'].touched && userForm.controls['fechaInicio'].errors,
                      'is-valid': userForm.controls['fechaInicio'].touched && !userForm.controls['fechaInicio'].errors
                       }">
                <div class="invalid-feedback">
                  <span *ngIf="userForm.get('fechaInicio').hasError('required')"> El campo fecha de nacimiento es obligatorio.</span>
                  <span *ngIf="userForm.get('fechaInicio').hasError('validarEdad')"> Su edad no cumple con lo requerido(18 - 75).</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fechaFin">Hasta el *</label>
                <input type="date" formControlName="fechaFin" id="fechaFin" class="form-control"
                       [ngClass]="
                      {
                      'is-invalid': userForm.controls['fechaFin'].touched && userForm.controls['fechaFin'].errors,
                      'is-valid': userForm.controls['fechaFin'].touched && !userForm.controls['fechaFin'].errors
                       }">
                <div class="invalid-feedback">
                  <span *ngIf="userForm.get('fechaFin').hasError('required')"> El campo fecha de nacimiento es obligatorio.</span>
                  <span *ngIf="userForm.get('fechaFin').hasError('validarEdad')"> Su edad no cumple con lo requerido(18 - 75).</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="tipoUsuario">Tipo de Usuario *</label>
                <select id="tipoUsuario" class="form-control" formControlName="tipoUsuario">
                  <option *ngFor="let tu of tiposUsuarios" [value]="tu.codigoItem">{{tu.descripcion}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Accesos</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Permisos</a>
      <ng-template ngbNavContent>3 content</ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<div class="modal-footer d-flex justify-content-center">
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">Cancelar</button>
  <button class="btn btn-primary" (click)="saveUsuario()" [disabled]="false">Aceptar</button>
</div>
<app-loading></app-loading>
