<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>
        <span class="card-title text-uppercase font-weight-bold">Editar Usuario </span>
      </div>
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>General</a>
            <ng-template ngbNavContent>
              <form [formGroup]="formGroup" (ngSubmit)="actualizarUsuario()">
                <label><strong>DATOS DE ACCESO</strong></label>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="email">Alias *</label>
                      <input type="text" id="alias" placeholder="Alias" class="form-control" Uppercase
                             formControlName="alias" autocomplete="off" maxlength="30"
                             [ngClass]="{
                    'is-invalid': formGroup.controls['alias'].touched && formGroup.controls['alias'].errors,
                    'is-valid': formGroup.controls['alias'].touched && !formGroup.controls['alias'].errors
                     }">
                      <div class="invalid-feedback">
                        <span *ngIf="formGroup.get('email').hasError('alias')">Obligatorio</span>
                        <span *ngIf="formGroup.get('alias').hasError('pattern')">Solo letras</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="fechaNacimiento">Fecha de Nacimiento *</label>
                      <input type="date" formControlName="fechaNacimiento" id="fechaNacimiento" class="form-control"
                             [ngClass]="
                      {
                      'is-invalid': formGroup.controls['fechaNacimiento'].touched && formGroup.controls['fechaNacimiento'].errors,
                      'is-valid': formGroup.controls['fechaNacimiento'].touched && !formGroup.controls['fechaNacimiento'].errors
                       }">
                      <div class="invalid-feedback">
                        <span *ngIf="formGroup.get('fechaNacimiento').hasError('required')">Obligatorio.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="email">Email *</label>
                      <input type="email" id="email" placeholder="Email" class="form-control"
                             formControlName="email" autocomplete="off" maxlength="30"
                             [ngClass]="
                      {
                      'is-invalid': formGroup.controls['email'].touched && formGroup.controls['email'].errors,
                      'is-valid': formGroup.controls['email'].touched && !formGroup.controls['email'].errors && !formGroup.controls['email'].pending,
                      'is-warning': formGroup.controls['email'].pending
                     }">
                      <div class="invalid-feedback">
                        <span *ngIf="formGroup.get('email').hasError('required')">Obligatorio</span>
                        <span *ngIf="formGroup.get('email').hasError('email')">Inválido</span>
                        <span
                          *ngIf="formGroup.get('email').hasError('emailTomado')">El email ha sido tomado</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="codTipoUsuario">Tipo de Usuario *</label>
                      <select id="codTipoUsuario" class="form-control" formControlName="codTipoUsuario"
                              [ngClass]="
                      {
                      'is-invalid': formGroup.controls['codTipoUsuario'].touched && formGroup.controls['codTipoUsuario'].errors,
                      'is-valid': formGroup.controls['codTipoUsuario'].touched && !formGroup.controls['codTipoUsuario'].errors
                       }"
                      >
                        <option *ngFor="let tu of tiposUsuarios" [value]="tu.codItem">{{tu.descripcion}}</option>
                      </select>
                      <div class="invalid-feedback">
                        <span *ngIf="formGroup.get('codTipoUsuario').hasError('required')">Obligatorio.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="codEstado">Estado *</label>
                      <select id="codEstado" class="form-control" formControlName="codEstado"
                              [ngClass]="
                      {
                      'is-invalid': formGroup.controls['codEstado'].touched && formGroup.controls['codEstado'].errors,
                      'is-valid': formGroup.controls['codEstado'].touched && !formGroup.controls['codEstado'].errors
                       }"
                      >
                        <option *ngFor="let o of estados" [value]="o.codItem">{{o.descripcion}}</option>
                      </select>
                      <div class="invalid-feedback">
                        <span *ngIf="formGroup.get('codEstado').hasError('required')">Obligatorio.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>
                        <input type="checkbox" name="check" formControlName="inicioCierre">
                        Habilitado para cierre/inicio de día
                      </label>
                    </div>
                  </div>
                </div>
                <label><strong>CADUCIDAD DE SESIÓN</strong></label>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="fechaInicioSesion">Desde el *</label>
                      <input type="date" formControlName="fechaInicioSesion" id="fechaInicioSesion" class="form-control"
                             [ngClass]="
                      {
                      'is-invalid': formGroup.controls['fechaInicioSesion'].touched && formGroup.controls['fechaInicioSesion'].errors,
                      'is-valid': formGroup.controls['fechaInicioSesion'].touched && !formGroup.controls['fechaInicioSesion'].errors
                       }">
                      <div class="invalid-feedback">
                        <span *ngIf="formGroup.get('fechaInicioSesion').hasError('required')">Obligatorio.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="fechaFinSesion">Hasta el *</label>
                      <input type="date" formControlName="fechaFinSesion" id="fechaFinSesion" class="form-control"
                             [ngClass]="
                      {
                      'is-invalid': formGroup.controls['fechaFinSesion'].touched && formGroup.controls['fechaFinSesion'].errors,
                      'is-valid': formGroup.controls['fechaFinSesion'].touched && !formGroup.controls['fechaFinSesion'].errors
                       }">
                      <div class="invalid-feedback">
                        <span *ngIf="formGroup.get('fechaFinSesion').hasError('required')">Obligatorio.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Permisos</a>
            <ng-template ngbNavContent>
              <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                  <label>
                    <strong>MENU DE ACCESO</strong>
                  </label>
                  <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)"
                                (selectedChange)="valoresMenus = $event" *ngIf="!cargandoMenu">
                  </ngx-treeview>
                  <br *ngIf="cargandoMenu">
                  <label *ngIf="cargandoMenu">
                    <em>Cargando..., porfavor espere...</em>
                  </label>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary mr-5px" (click)="regresar()">
          <i class="fa fa-hand-o-left"></i> Regresar
        </button>
        <button class="btn btn-instagram" (click)="actualizarUsuario()"
                [disabled]="formGroup.invalid || formGroup.pending">
          <i class="fa fa-save"></i> Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
