<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Lista de Créditos</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label *ngIf="$creditos.length > 0">Se encontro {{ $creditos.length }} créditos.</label>
                    <div class="" *ngIf="$creditos.length > 0">
                        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-responsive">
                            <caption style="caption-side: top; text-align: center;">Lista de créditos</caption>
                            <thead>
                                <tr>
                                    <tr class="text-center">
                                        <th> Opción</th>
                                        <th>Nro Crédito</th>
                                        <th>Moneda</th>
                                        <th>C. Socio</th>
                                        <th>Socio</th>
                                        <th>F. Desem</th>
                                        <th>Cap. Vig.</th>
                                        <th>Cap. Ven.(par. Mor.)</th>
                                        <th>Int. Cre. Fec.</th>
                                        <th>Estado</th>
                                        <th>Pro. Abaco</th>
                                        <th>Tip. Serv.</th>
                                        <th>Tip. Pro. Serv.</th>
                                        <th>Condición</th>
                                        <th>Fec. Repro.</th>
                                        <th>Refinanciado</th>
                                        <th>Importe Vencido</th>
                                        <th>Días Venc.</th>
                                        <th>Fec. Venc.</th>
                                        <th>Tot. Cuotas</th>
                                        <th>Cuotas Pag.</th>
                                        <th>Cuotas Pen.</th>
                                        <th>Fec. Ult. Pag.</th>
                                        <th>Cuotas Atra.</th>
                                        <th>Mont. Atra.</th>
                                        <th>Fec. Cuo. Mes</th>
                                        <th>Mont. Cuo. Mes</th>
                                        <th>Calificación</th>
                                        <th>Gar. Liqu.</th>
                                        <th>Gar. Real</th>
                                        <th>Tasa</th>
                                        <th>División</th>
                                        <th>Banca</th>
                                        <th>Seg. Riesgo</th>
                                        <th>Sec. Econo.</th>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let credito of $creditos; let i = index">
                                    <th scope="row">
                                        <label class="container" *ngIf="existe(credito); else elseBlock">
                    <span class="checkmark cursor-no-drop"></span>
                  </label>
                                        <ng-template #elseBlock>
                                            <label class="container">
                      <input type="checkbox" (change)="changeCheckCreditos($event, credito)">
                      <span class="checkmark"></span>
                    </label>
                                        </ng-template>
                                    </th>
                                    <td class="text-center">{{ credito.nroCredito }}</td>
                                    <td class="text-center">{{ credito.desMoneda }}</td>
                                    <td class="text-center">{{ credito.socioId }}</td>
                                    <td class="text-center">{{ credito.socioAlias }}</td>
                                    <td class="text-center">{{ credito.fechaDesembolso | date: 'dd/MM/yyyy' }}</td>
                                    <td class="text-center">{{ credito.montoCredito }}</td>
                                    <td class="text-center">{{ credito.capitalVencido }}</td>
                                    <td class="text-center">{{ credito.interesCreditoFecha }}</td>
                                    <td class="text-center">{{ credito.estado }}</td>
                                    <td class="text-center">{{ credito.productoAbaco }}</td>
                                    <td class="text-center">{{ credito.tipoServicio }}</td>
                                    <td class="text-center">{{ credito.tipoProdcutoAbaco }}</td>
                                    <td class="text-center">{{ credito.condicion }}</td>
                                    <td class="text-center">{{ credito.fechaReprogramado | date: 'dd/MM/yyyy' }}</td>
                                    <td class="text-center">{{ credito.refinanciado }}</td>
                                    <td class="text-center">{{ credito.importeVencido }}</td>
                                    <td class="text-center">{{ credito.diasVencido }}</td>
                                    <td class="text-center">{{ credito.fechaVencimiento | date: 'dd/MM/yyyy' }}</td>
                                    <td class="text-center">{{ credito.totalCuotas }}</td>
                                    <td class="text-center">{{ credito.cuotasPagadas }}</td>
                                    <td class="text-center">{{ credito.cuotasPendientes }}</td>
                                    <td class="text-center">{{ credito.fechaUltimoPago | date: 'dd/MM/yyyy' }}</td>
                                    <td class="text-center">{{ credito.cuotasAtrasadas }}</td>
                                    <td class="text-center">{{ credito.montoAtrasadas }}</td>
                                    <td class="text-center">{{ credito.fechaCuotaMes | date: 'dd/MM/yyyy'}}</td>
                                    <td class="text-center">{{ credito.montoCuotaMes }}</td>
                                    <td class="text-center">{{ credito.calificacion }}</td>
                                    <td class="text-center">{{ credito.garantiaLiquida }}</td>
                                    <td class="text-center">{{ credito.garantiaReal }}</td>
                                    <td class="text-center">{{ credito.desTipoTasa }}</td>
                                    <td class="text-center">{{ credito.division }}</td>
                                    <td class="text-center">{{ credito.banca }}</td>
                                    <td class="text-center">{{ credito.segmentadoRiesgo }}</td>
                                    <td class="text-center">{{ credito.sectorEconomico }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button type="button" [disabled]="$creditosCheched.length == 0" class="btn btn-primary mr-4" (click)="guardar()">Agregar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
    </div>
</div>
