<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>
                <span class="card-title text-uppercase font-weight-bold">Configurar Notificaciones</span>
            </div>
            <div class="card-body" [formGroup]="formulario">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Seleccionar Cartera</label>
                            <select class="form-control" (change)="cambioCartera()" formControlName="codCartera">
                                <option value="">Seleccione</option>
                                <option *ngFor="let item of carteras" [value]="item.codCartera">{{ item.nombre }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Seleccionar Etapa</label>
                            <select class="form-control" (change)="cambioGestion()" formControlName="codGestion">
                                <option value="">Seleccione</option>
                                <option *ngFor="let item of gestiones" [value]="item.codGestion">{{ item.nombre }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Seleccionar SubEtapa</label>
                            <select class="form-control" (change)="cambioEtapa()" formControlName="codCarEtapa">
                                <option value="">Seleccione</option>
                                <option *ngFor="let item of etapas" [value]="item.id">{{ item.nombre }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-sm btn-outline-info" (click)="nuevaNotificacion()" *ngIf="menuService.hasShowNotifyAuto(A.NOTIFY_AUTO_NUEVO)" [disabled]="formulario.invalid">Nuevo Notificación</button>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="mensajes.length > 0">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">#</th>
                                        <th scope="col">Tipo de Mensaje</th>
                                        <th scope="col">Días</th>
                                        <!--
                                        <th scope="col">Usuario Creación</th>
                                        <th scope="col">F. Creación</th>
                                        <th scope="col">Usuario Actualización</th>
                                        <th scope="col">F. Actualización</th>
                                    -->
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of mensajes; let i = index">
                                        <ng-container *ngIf="item.estado == '1'">
                                            <tr class="text-center">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>{{ getNameTypeNotifi(item.codTipoNotificacion) }}</td>
                                                <td>{{ item.dias }}</td>
                                                <!--
                                                <td>{{ item.userCreate }}</td>
                                                <td>{{ item.fechaCreacion | date: 'dd/mm/yyyy' }}</td>
                                                <td>{{ item.userUpdate }}</td>
                                                <td>{{ item.fechaActualizacion | date: 'dd/mm/yyyy' }}</td>
                                                  -->
                                                <td>
                                                    <button *ngIf="menuService.hasShowNotifyAuto(A.NOTIFY_AUTO_ACTUALIZAR)" class="btn btn-primary btn-sm" placement="top" ngbTooltip="Editar" (click)="actualizarNotificacion(item)"><i class="fa fa-edit"></i></button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>
