<div class="modal-content">
  <div class="modal-header justify-content-center">
    <h4 class="modal-title">Agendar Llamada</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="form-group" *ngIf="info">
          <span>IP: <b>{{ info.ipAddress }}</b></span><br>
          <span *ngIf="info.address">Dirección: <b>{{ info.address }}</b></span><br>
          <span *ngIf="info.latitude">Latitud: <b>{{ info.latitude }}</b></span><br>
          <span *ngIf="info.longitude">Longitud: <b>{{ info.longitude }}</b></span>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Fecha:</label>
          <input class="form-control" type="date">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Hora:</label>
          <input class="form-control" type="time">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label>Comentario:</label>
          <textarea class="form-control" rows="4" [(ngModel)]="comment"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="enviar()" [disabled]="!comment">Enviar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cerrar</button>
  </div>
</div>
