<div class="row" [formGroup]="formTarea">
  <div class="col-12">
    <div class="form-group text-center">
      <h4 class="font-weight-bold">Crear Tarea</h4>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="row">
      <div class="col-12">
        <label>Seleccione el tablero</label>
        <div class="input-group">
          <select class="form-control" formControlName="tableroTareaId">
            <option value="">Selecione</option>
            <option *ngFor="let item of misTableros" [value]="item.id">{{ item.nombre }}</option>
          </select>
          <div class="input-group-btn">
            <button type="button" class="btn btn-success" (click)="crearTablero()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label>Nombre</label>
          <input class="form-control" type="text" formControlName="nombre">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Prioridad</label>
          <select class="form-control" formControlName="prioridad">
            <option [value]="0">Baja</option>
            <option [value]="1">Media</option>
            <option [value]="2">Alta</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Seleccione la actividad</label>
          <select class="form-control" formControlName="codActividad">
            <option value="">Selecione</option>
            <option *ngFor="let item of tipoActividades" [value]="item.codItem">{{ item.descripcion }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Fecha Vencimiento</label>
          <input formControlName="fechaVencimiento" (change)="cambioFechaVencimient()" type="date" class="form-control input-date">
        </div>

      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Hora</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Min</label>
          <input formControlName="horaVencimiento" type="time" class="form-control input-date" style="display: none;">
          <div class="form-group">
            <div class="cont-time">
              <select class="form-control" (change)="cambioHoraVencimient()" formControlName="horaA">
                <option *ngFor="let h of $horario" [value]="h">{{h}}</option>
              </select>
              <select class="form-control" formControlName="minA" (change)="cambioHoraVencimient()">
                <option value="00">00</option>
                <option value="30">30</option>
              </select>
              <select class="form-control" formControlName="tiempoA" (change)="cambioHoraVencimient()">
                <option value="am">AM</option>
                <option value="pm">PM</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label class="container " style="font-size: 16px;">
            Recordar el
            <input type="checkbox" formControlName="checkFechaRecordatorio" (click)="changeRecordatorio($event)">
            <span class="checkmark"></span>
          </label>
          <input formControlName="fechaRecordatorio" type="date" class="form-control input-date" (ngModelChange)="chengeFehcaRecordatorio($event)">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Hora</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Min</label>
          <input formControlName="horaRecordatorio" type="time" class="form-control input-date" style="display: none;">
          <div class="form-group">
            <div class="cont-time">
              <select class="form-control" (change)="cambioHoraRecordatorio()" formControlName="horaB">
                <option *ngFor="let h of $horario" [value]="h">{{h}}</option>
              </select>
              <select class="form-control" formControlName="minB" (change)="cambioHoraRecordatorio()">
                <option value="00">00</option>
                <option value="30">30</option>
              </select>
              <select class="form-control" formControlName="tiempoB" (change)="cambioHoraRecordatorio()">
                <option value="am">AM</option>
                <option value="pm">PM</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group d-flex justify-content-around">
          <label class="container" style="font-size: 16px;">
            Notificación SMS
            <input type="checkbox" formControlName="notificacion">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="font-size: 16px;">
            Notificación Correo
            <input type="checkbox" formControlName="correo">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label>Descripción</label>
          <textarea class="form-control" rows="2" formControlName="descripcion"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group text-center mt-2">
      <button class="btn btn-sm btn-primary mr-2" [disabled]="formTarea.invalid" (click)="guardarTarea()">Guardar</button>
      <button class="btn btn-sm btn-danger" (click)="cancelar() ">Cancelar</button>
    </div>
  </div>
</div>
<ngx-spinner [fullScreen]="false" [zIndex]="10" [name]="'tarea'"></ngx-spinner>
