.table-saldos td {
    padding: 0.2rem;
    border: inherit;
}

.lista-sectores {
    width: 100%;
    text-align: center;
}

.lista-sectores .sector-item {
    max-width: 40px;
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
}

.lista-sectores .sector-item .bg-item {
    width: 100%;
    height: 35px;
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .lista-sectores .sector-item {
        max-width: 34px;
        width: 34px;
        margin-right: 8px;
        font-size: 14px;
    }
    .lista-sectores .sector-item .bg-item {
        width: 100%;
        height: 25px;
    }
}
