.board-tile {
  background-color: #97a0af;
  background-size: cover;
  background-position: 50%;
  color: #fff;
  line-height: 20px;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

.board-tile.mod-add {
  background-color: rgba(9,30,66,.04);
  box-shadow: none;
  border: none;
  color: #172b4d;
  display: flex;
  height: 90px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  width: inherit;
  -webkit-transition-property: background-color,border-color,box-shadow;
  transition-property: background-color,border-color,box-shadow;
  -webkit-transition-duration: 85ms;
  transition-duration: 85ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
