<div class="modal-content" [formGroup]="formulario">
    <div class="modal-header">
        <h4 class="modal-title">{{ (accion == '1') ? 'Nueva' : 'Editar' }} Correo</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo Uso</label>
                    <select class="form-control" formControlName="tipo" [ngClass]="
                        {
                        'is-invalid': formulario.controls['tipo'].touched && formulario.controls['tipo'].errors,
                        'is-valid': formulario.controls['tipo'].touched && !formulario.controls['tipo'].errors
                        }
                        ">
                            <option *ngFor="let item of tipoUsos" [value]="item.codItem">{{ item.descripcion }}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('tipo').hasError('required')"> El es obligatorio.</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Correo:</label>
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="w-100 mr-2">
                            <input class="form-control" formControlName="email" placeholder="Ingrese el correo." [ngClass]="
                            {
                            'is-invalid': formulario.controls['email'].touched && formulario.controls['email'].errors,
                            'is-valid': formulario.controls['email'].touched && !formulario.controls['email'].errors && !formulario.controls['email'].pending,
                            'is-warning': formulario.controls['email'].pending
                            }
                            ">
                            <small *ngIf="formulario.get('email').pending" class="form-text text-muted">Buscando ...</small>
                            <div class="invalid-feedback">
                                <span class="d-block" *ngIf="formulario.get('email').hasError('required')"> El es obligatorio.</span>
                                <span class="d-block" *ngIf="formulario.get('email').hasError('email')"> El correo no es válido.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Canales</label>
                    <ul class="list-group">
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox" (change)="cambiarCanal($event, 1)">
                                MESSENGER
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox"  (change)="cambiarCanal($event, 2)">
                                EMAIL
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button *ngIf="false" type="button" [disabled]="formulario.invalid" class="btn btn-outline-info m-4" (click)="guardar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
    </div>
</div>
