<div class="card section-credito-socio">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>
    <span class="card-title text-uppercase font-weight-bold">Asignación de Cartera</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-8">
        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab title="Fijo/Movil">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                 <div class="form-group">
                   <div class="text-center">
                     <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-plus"></i></a>
                     <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-clock-o"></i></a>
                     <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-id-card"></i></a>
                     <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-calendar"></i></a>
                     <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-sticky-note"></i></a>
                   </div>
                 </div>
                </div>
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Número</th>
                      <th scope="col">Relación</th>
                      <th scope="col">Tipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>950016418</td>
                      <td>Socio</td>
                      <td>Celular</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>044541617</td>
                      <td>Socio</td>
                      <td>Fijo</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>974621343</td>
                      <td>Conyugue</td>
                      <td>Celular</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Correo">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="text-center">
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-plus"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-clock-o"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-id-card"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-calendar"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-sticky-note"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Relación</th>
                      <th scope="col">Tipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>franz@gmail.com</td>
                      <td>Socio</td>
                      <td>Personal</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>maricarmen@gmail.com</td>
                      <td>Conyugue</td>
                      <td>Personal</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Dirección">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="text-center">
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-plus"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-clock-o"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-id-card"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-calendar"></i></a>
                      <a class="btn btn-sm btn-social-icon btn-linkedin mr-2"><i class="fa fa-sticky-note"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Relación</th>
                      <th scope="col">Tipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Av. Húsares de Junín, 690, Urb. La Merced, Trujillo</td>
                      <td>Socio</td>
                      <td>Domicilio</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jr Marcelo Corne Nro 224 Ur San Andres, Trujillo</td>
                      <td>Conyugue</td>
                      <td>Domicilio</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Gestionar Eventos Socio</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">

              </div>
              <!-- /.box-body -->
              <div class="box-footer text-center">

              </div>
              <!-- /.box-footer -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
