<div class="card section-credito-socio">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>
    <span class="card-title text-uppercase font-weight-bold">Información del socio</span>
    <div class="card-tools float-right">
      <button type="button" class="btn btn-sm btn-primary" [routerLink]="'/auth/estrategia/asignacion-cartera/' + ejecutivoId + '/listado/' + asignacionId+'/detalle'">
        <i class="fa fa-arrow-left"></i> Regresar
      </button>
    </div>
  </div>
  <div class="card-body" *ngIf="socio">
    <div class="row" *ngIf="socio.personaNatural">
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label>Primer Nombre</label>
          <input type="text" class="form-control" disabled [value]="socio.personaNatural.primerNombre">
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label>Segundo Nombre</label>
          <input type="text" class="form-control" disabled [value]="socio.personaNatural.segundoNombre">
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label>Primer Apellido</label>
          <input type="text" class="form-control" disabled [value]="socio.personaNatural.primerApellido">
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label>Segundo Apellido</label>
          <input type="text" class="form-control" disabled [value]="socio.personaNatural.segundoApellido">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="form-group mb-0">
          <div class="text-center">
            <a class="btn btn-sm btn-social-icon btn-linkedin mr-2" (click)="crearEventos(1, 'Gestionar Eventos Socio')"><i class="fa fa-plus"></i></a>
            <a class="btn btn-sm btn-social-icon btn-linkedin mr-2" (click)="crearEventos(2, '')"><i class="fa fa-clock-o"></i></a>
            <a class="btn btn-sm btn-social-icon btn-linkedin mr-2" (click)="crearEventos(3, '')"><i class="fa fa-id-card"></i></a>
            <a [ngbTooltip]="'Crear Recordatorio'" class="btn btn-sm btn-social-icon btn-linkedin mr-2" (click)="crearEventos(4, 'Crear Recordatorio')" placement="top" ngbTooltip="Crear Recordatorio"><i
              class="fa fa-calendar"></i></a>
            <a [ngbTooltip]="'Crear Acuerdo de Pago'" class="btn btn-sm btn-social-icon btn-linkedin mr-2" (click)="crearEventos(5, 'Crear Acuerdos de Pago')"><i class="fa fa-handshake-o"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-8">
        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab title="Fijo/Movil">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Número</th>
                      <th scope="col">Operador</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Notificación</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let phone of socio.telefonos; let i = index" class="text-center">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ phone.numero }}</td>
                      <td>{{ phone.operadorDescripcion }}</td>
                      <td>{{ phone.tipoUsoDescripcion }}</td>
                      <td>{{ phone.tipoNotificacion }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Correo">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Notificación</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" *ngFor="let email of socio.correos; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ email.email }}</td>
                      <td>{{ email.tipoUsoDescripcion }}</td>
                      <td>{{ email.tipoNotificacion }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Dirección">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Tipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" *ngFor="let direccion of socio.direcciones; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ direccion.nombreVia }}</td>
                      <td>Domicilio</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12">
            <div class="box box-primary">
              <div class="box-header with-border text-center">
                <h3 class="box-title">{{ title }}</h3>
                <div class="box-tools pull-right">
                  <!--                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
                  <!--                  </button>-->
                  <!--                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <ng-container *ngIf="typeEvent == 4" [formGroup]="formRecordatorio">
                  <div class="row">
                    <div class="col-12 col-md-7">
                      <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" class="form-control" formControlName="fecha">
                      </div>
                    </div>
                    <div class="col-12 col-md-5">
                      <div class="form-group">
                        <label>Hora</label>
                        <input type="time" class="form-control" formControlName="hora" min="07:00" max="20:00">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label>Seleccione la actividad</label>
                        <select class="form-control" formControlName="tipoActividad" (ngModelChange)="showItem = $event">
                          <option value="">Selecione</option>
                          <option *ngFor="let item of tipoActividades" [value]="item.codItem">{{ item.descripcion }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12" *ngIf="showItem == '1'">
                      <div class="form-group">
                        <label>Seleccione número</label>
                        <select class="form-control" formControlName="numeroTelefono">
                          <option>Selecione</option>
                          <option *ngFor="let item of showPhones" [value]="item.numero">{{ item.numero }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12" *ngIf="showItem == '2'">
                      <div class="form-group">
                        <label>Seleccione Correo</label>
                        <select class="form-control" formControlName="correo">
                          <option>Selecione</option>
                          <option *ngFor="let item of showEmails" [value]="item.email">{{ item.email }}</option>
                        </select>
                      </div>
                    </div>
                    <ng-container *ngIf="showItem == '3'">
                      <div class="col-12">
                        <div class="form-group">
                          <label>Seleccione Metodo</label>
                          <select #metodo class="form-control" formControlName="tipoMetodo" (ngModelChange)="cambioTipoMetodo($event)">
                            <option value="">Selecione</option>
                            <option *ngFor="let item of listadoMensaje" [value]="item.nombre">{{ item.nombre }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="showCellphones != ''">
                        <div class="form-group">
                          <label>Seleccione número</label>
                          <select class="form-control" formControlName="numeroTelefono">
                            <option value="">Selecione</option>
                            <option *ngFor="let item of $telefonos" [value]="item.numero">{{ item.numero }}</option>
                          </select>
                        </div>
                      </div>
                    </ng-container>
                    <div class="col-12" *ngIf="showItem == '4'">
                      <div class="form-group">
                        <label>Seleccione Dirección</label>
                        <select class="form-control" formControlName="direccion">
                          <option>Selecione</option>
                          <option *ngFor="let item of showAddress" [value]="item.nombreVia">{{ item.nombreVia }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label>Comentario</label>
                        <textarea class="form-control" formControlName="comentario"></textarea>
                      </div>
                    </div>
                    <div class="col-12 text-center">
                      <div class="btn-group ">
                        <button class="btn btn-sm btn-primary" [disabled]="formRecordatorio.invalid" (click)="guardarRecordatorio()">Guardar</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="typeEvent == 5">
                  <div class="row">
                    <div class="col-12">
                      <ul class="list-group list-acuerdos">
                        <li class="list-group-item" [ngClass]="{'active': typeAcuerdo == 1}" (click)="typeAcuerdo = 1">AL DÍA</li>
                        <li class="list-group-item" [ngClass]="{'active': typeAcuerdo == 2}" (click)="typeAcuerdo = 2">PLAN DE PAGO</li>
                        <li class="list-group-item" [ngClass]="{'active': typeAcuerdo == 3}" (click)="typeAcuerdo = 3">TOTAL DE LA MORA</li>
                        <li class="list-group-item" [ngClass]="{'active': typeAcuerdo == 4}" (click)="typeAcuerdo = 4">ABONO</li>
                      </ul>
                    </div>
                  </div>
                  <hr>
                  <ng-container *ngIf="typeAcuerdo == 1  || typeAcuerdo == 3 || typeAcuerdo == 4" [formGroup]="formRegistrarAcuerdo">
                    <div class="row mt-4">
                      <div class="col-12 text-center">
                        <h4>Registrar Acuerdo</h4>
                      </div>
                      <div class="col-12" *ngIf="errors.length > 0">
                        <div class="form-group">
                          <div class="alert alert-danger" role="alert" *ngFor="let value of errors">
                            <span><b>.</b> {{ value }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-7">
                        <div class="form-group">
                          <label>Monto Acordado</label>
                          <input CustomizeCurrency type="text" class="form-control" formControlName="montoAcordado">
                        </div>
                      </div>
                      <div class="col-12 col-md-5">
                        <div class="form-group">
                          <label>Posibilidad Pagar</label>
                          <select class="form-control" formControlName="posibilidadPago">
                            <option value="">Seleccione</option>
                            <option value="1">Alto</option>
                            <option value="2">Medio</option>
                            <option value="3">Bajo</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-7">
                        <div class="form-group">
                          <label>Fecha</label>
                          <input type="date" class="form-control" formControlName="fechaInicio">
                        </div>
                      </div>
                      <div class="col-12 col-md-5">
                        <div class="form-group">
                          <label>Hora</label>
                          <input type="time" class="form-control" min="07:00" max="20:00" formControlName="horaIncio">
                        </div>
                      </div>
                      <div class="col-12 text-center">
                        <button class="btn btn-sm btn-primary" [disabled]="formRegistrarAcuerdo.invalid" (click)="guardarAcuerdo()">Registrar</button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="typeAcuerdo == 2" [formGroup]="formPlanPago">
                    <div class="body-acuerdo row mt-4">
                      <div class="col-12 text-center">
                        <h4>Crear plan de pago</h4>
                      </div>
                      <div class="col-12" *ngIf="errors.length > 0">
                        <div class="form-group">
                          <div class="alert alert-danger" role="alert" *ngFor="let value of errors">
                            <span><b>.</b> {{ value }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label>Nombre del plan</label>
                          <input SoloLetras Uppercase type="text" class="form-control" formControlName="descripcion">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Número de cuotas</label>
                          <input Number type="text" class="form-control" formControlName="plazo">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Valor de cuotas</label>
                          <input CustomizeCurrency type="text" class="form-control" formControlName="montoAcordado">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Intervalo cotas (Días)</label>
                          <input Number type="text" class="form-control" formControlName="intervalo">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Fecha inicio</label>
                          <input type="date" class="form-control" formControlName="fechaInicio">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label>Posibilidad Pagar</label>
                          <select class="form-control" formControlName="posibilidadPago">
                            <option value="">Seleccione</option>
                            <option value="1">Alto</option>
                            <option value="2">Medio</option>
                            <option value="3">Bajo</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 text-center">
                        <button class="btn btn-sm btn-primary" [disabled]="formPlanPago.invalid" (click)="guardarPlanPago()">Registrar</button>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <ngb-accordion [closeOthers]="true">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span><b>Recordatorio</b></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr class="text-center">
                    <th>Actividad</th>
                    <th>Fecha/hora</th>
                    <th>Descrpción</th>
                    <th>Mensaje</th>
                    <th>Condición</th>
                    <th>Opcipon</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of recordatorios" class="text-center" style="font-size: 12px;">
                    <td>
                      <ng-container *ngIf="!item.observacion; else obsetvation">
                        {{ getNameActividad(item.tipoActividad) }}
                      </ng-container>

                      <ng-template #obsetvation>
                        <ng-template #tipContent><b>{{item.observacion}}</b></ng-template>
                        <span> <b triggers="click" [autoClose]="'outside'" [ngbTooltip]="tipContent" class="cursor-pointer" style="font-size: 18px"><i class="fa  fa-question-circle"></i></b> {{ getNameActividad(item.tipoActividad) }} </span>
                      </ng-template>
                    </td>
                    <td> {{ item.fecha | date: 'dd/MM/yyyy' }} {{ item.hora   }}</td>
                    <td> {{ getDescripcion(item) }}</td>
                    <td style="text-align: left;"> {{ item.comentario }}</td>
                    <td> {{ getNameCondition(item.condicion) }}</td>
                    <td>
                      <button class="btn btn-sm btn-success" (click)="cambiarEstado(item)"><i class="fa fa-check"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span><b>Acuerdos</b></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="table-responsive">
                <table id="tabla-acuerdos" class="table table-bordered table-hover">
                  <thead>
                  <tr class="text-center">
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>T. Acuerdo</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>Cuota</th>
                    <th>Plazo</th>
                    <th>Opcipon</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of acuerdosPago" class="text-center" style="font-size: 12px;">
                    <td>
                      {{ item.fechaInicio | date: 'dd/MM/yyyy' }}
                    </td>
                    <td>{{ item.montoAcordado  | currency: 'S/ ' }} </td>
                    <td>{{ getNameTipoAcuerdo(item.tipoAcuerdo) }}</td>
                    <td>{{ getNameCondition(item.condicion) | uppercase}}</td>
                    <td>{{ item.descripcion | uppercase}}</td>
                    <td>{{ item.cuota }}</td>
                    <td>{{ item.plazo }}</td>
                    <td>
                      <button class="btn btn-sm btn-danger" (click)="eliminarAcuerdoPago(item.id)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
