<div class="modal-content" [formGroup]="formulario">
    <div class="modal-header">
        <h4 class="modal-title">{{ (accion == '1') ? 'Nueva' : 'Editar' }} Telefono</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" formControlName="typePhone" (change)="cambioTypePhone()">
                      <option *ngFor="let item of tipoTelefonos" [value]="item.codItem">{{ item.descripcion }}</option>
                  </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo Uso</label>
                    <select class="form-control" formControlName="codigoItem">
                        <option *ngFor="let item of tipoUsos" [value]="item.codItem">{{ item.descripcion }}</option>
                </select>
                </div>
            </div>
            <div class="col-md-2" *ngIf="!cell">
                <div class="form-group">
                    <label>C. Ciudad</label>
                    <input Number #inputCodCiudad class="form-control" [maxLength]="3" formControlName="codCiudad" placeholder="C. Ciudad" [ngClass]="
                            {
                            'is-invalid': formulario.controls['codCiudad'].touched && formulario.controls['codCiudad'].errors,
                            'is-valid': formulario.controls['codCiudad'].touched && !formulario.controls['codCiudad'].errors
                            }
                            ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('codCiudad').hasError('required')"> El código de ciudad es obligatorio.</span>
                        <span class="d-block" *ngIf="formulario.get('codCiudad').hasError('minlength')"> El código de ciudad solo acepta 3 números.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="!cell">
                <div class="form-group">
                    <label>Anexo</label>
                    <input Number #inputAnexo class="form-control" [maxLength]="4" formControlName="anexo" placeholder="Anexo" [ngClass]="
                            {
                            'is-invalid': formulario.controls['anexo'].touched && formulario.controls['anexo'].errors,
                            'is-valid': formulario.controls['anexo'].touched && !formulario.controls['anexo'].errors
                            }
                            ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('anexo').hasError('required')"> El número es obligatorio</span>
                        <span class="d-block" *ngIf="formulario.get('anexo').hasError('minlength')"> </span>
                        <span class="d-block" *ngIf="formulario.get('anexo').hasError('pattern')"> </span>
                    </div>
                </div>
            </div>
            <div [class]="cell ? 'col-md-6' : 'col-md-4'">
                <div class="form-group">
                    <label>Operador</label>
                    <select #inputOperador class="form-control" formControlName="operador" [ngClass]="
                            {
                            'is-invalid': formulario.controls['operador'].touched && formulario.controls['operador'].errors,
                            'is-valid': formulario.controls['operador'].touched && !formulario.controls['operador'].errors
                            }
                            ">
                            <option *ngFor="let item of tipoOperadores" [value]="item.codItem">{{ item.descripcion }}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('operador').hasError('required')"> El número es obligatorio</span>
                    </div>
                </div>
            </div>
            <div [class]="cell ? 'col-md-6' : 'col-md-4'">
                <div class="form-group">
                    <label>Número:</label>
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="w-100 mr-2">
                            <input Number #inputDescripcion class="form-control" formControlName="descripcion" placeholder="Ingrese el número." [ngClass]="
                            {
                            'is-invalid': formulario.controls['descripcion'].touched && formulario.controls['descripcion'].errors,
                            'is-valid': formulario.controls['descripcion'].touched && !formulario.controls['descripcion'].errors && !formulario.controls['descripcion'].pending,
                            'is-warning': formulario.controls['descripcion'].pending
                            }
                            ">
                            <small *ngIf="formulario.get('descripcion').pending" class="form-text text-muted">Buscando ...</small>
                            <div class="invalid-feedback">
                                <span class="d-block" *ngIf="formulario.get('descripcion').hasError('numCelularTaken')"> El número ha sido tomado</span>
                                <span class="d-block" *ngIf="formulario.get('descripcion').hasError('required')"> El es obligatorio</span>
                                <span class="d-block" *ngIf="formulario.get('descripcion').hasError('minlength')"></span>
                                <span class="d-block" *ngIf="formulario.get('descripcion').hasError('pattern')"> </span>
                                <span class="d-block" *ngIf="formulario.get('descripcion').hasError('email')">El correo electrónico no es valido.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Canales</label>
                    <ul class="list-group">
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox">
                                 PUSH
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox">
                                 SMS
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox">
                                WHATSAPP
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox">
                                TELEGRAM
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox">
                                LLAMADAS
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
    </div>
</div>