<div class="modal-content" [formGroup]="formulario">
    <div class="modal-header">
        <h4 class="modal-title">{{ (accion == '1') ? 'Nueva' : 'Editar' }} Telefono</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" formControlName="tipo" (change)="cambioTypePhone()" [ngClass]="
                    {
                    'is-invalid': formulario.controls['tipo'].touched && formulario.controls['tipo'].errors,
                    'is-valid': formulario.controls['tipo'].touched && !formulario.controls['tipo'].errors
                    }
                    ">
                        <option *ngFor="let item of tipoTelefonos" [value]="item.codItem">{{ item.descripcion }}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('tipo').hasError('required')"> El tipo de uso es obligatorio.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo Uso</label>
                    <select class="form-control" formControlName="codUso" [ngClass]="
                        {
                        'is-invalid': formulario.controls['codUso'].touched && formulario.controls['codUso'].errors,
                        'is-valid': formulario.controls['codUso'].touched && !formulario.controls['codUso'].errors
                        }
                        ">
                            <option *ngFor="let item of tipoUsos" [value]="item.codItem">{{ item.descripcion }}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('codUso').hasError('required')"> El tipo de uso es obligatorio.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="!cell">
                <div class="form-group">
                    <label>C. Ciudad</label>
                    <input Number class="form-control" [maxLength]="3" (change)="cambioCodigoCiudad()" formControlName="codCiudad" placeholder="C. Ciudad" [ngClass]="
                            {
                            'is-invalid': formulario.controls['codCiudad'].touched && formulario.controls['codCiudad'].errors,
                            'is-valid': formulario.controls['codCiudad'].touched && !formulario.controls['codCiudad'].errors
                            }
                            ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('codCiudad').hasError('required')"> El código de ciudad es obligatorio.</span>
                        <span class="d-block" *ngIf="formulario.get('codCiudad').hasError('maxlength')"> El código de ciudad solo acepta hasta 3 números.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="!cell">
                <div class="form-group">
                    <label>Anexo</label>
                    <input Number #inputAnexo class="form-control" [maxLength]="4" formControlName="anexo" placeholder="Anexo" [ngClass]="
                            {
                            'is-invalid': formulario.controls['anexo'].touched && formulario.controls['anexo'].errors,
                            'is-valid': formulario.controls['anexo'].touched && !formulario.controls['anexo'].errors
                            }
                            ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('anexo').hasError('required')"> El número es obligatorio</span>
                        <span class="d-block" *ngIf="formulario.get('anexo').hasError('minlength')"> </span>
                        <span class="d-block" *ngIf="formulario.get('anexo').hasError('pattern')"> </span>
                    </div>
                </div>
            </div>
            <div [class]="cell ? 'col-md-6' : 'col-md-4'">
                <div class="form-group">
                    <label>Operador</label>
                    <select #inputOperador class="form-control" formControlName="operador" [ngClass]="
                            {
                            'is-invalid': formulario.controls['operador'].touched && formulario.controls['operador'].errors,
                            'is-valid': formulario.controls['operador'].touched && !formulario.controls['operador'].errors
                            }
                            ">
                            <option *ngFor="let item of tipoOperadores" [value]="item.codItem">{{ item.descripcion }}</option>
                    </select>
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formulario.get('operador').hasError('required')"> El operador es obligatorio</span>
                    </div>
                </div>
            </div>
            <div [class]="cell ? 'col-md-6' : 'col-md-4'">
                <div class="form-group">
                    <label>Número:</label>
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="w-100 mr-2">
                            <input Number class="form-control" formControlName="numero" placeholder="Ingrese el número." [maxlength]="max" [ngClass]="
                            {
                            'is-invalid': formulario.controls['numero'].touched && formulario.controls['numero'].errors,
                            'is-valid': formulario.controls['numero'].touched && !formulario.controls['numero'].errors && !formulario.controls['numero'].pending,
                            'is-warning': formulario.controls['numero'].pending
                            }
                            ">
                            <small *ngIf="formulario.get('numero').pending" class="form-text text-muted">Buscando ...</small>
                            <div class="invalid-feedback">
                                <span class="d-block" *ngIf="formulario.get('numero').hasError('numCelularTaken')"> El número ha sido tomado.</span>
                                <span class="d-block" *ngIf="formulario.get('numero').hasError('required')"> El es obligatorio.</span>
                                <span class="d-block" *ngIf="formulario.get('numero').hasError('minlength')">El número de digitos es {{max}}.</span>
                                <span class="d-block" *ngIf="formulario.get('numero').hasError('pattern')"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Canales</label>
                    <ul class="list-group">
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox" (change)="cambiarCanal($event, 1)">
                                 PUSH
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox" (change)="cambiarCanal($event, 2)">
                                 SMS
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox" (change)="cambiarCanal($event, 3)">
                                WHATSAPP
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox" (change)="cambiarCanal($event, 4)">
                                TELEGRAM
                            </label>
                        </li>
                        <li class="list-group-item p-2" style="border: none;">
                            <label class="m-0 cursor-pointer">
                                <input type="checkbox" (change)="cambiarCanal($event, 5)">
                                LLAMADAS
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button type="button" [disabled]="formulario.invalid" class="btn btn-outline-info m-4" (click)="guardar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
    </div>
</div>