<h5>Carteras Vencidas</h5>

<div class="card">
  <div class="card-body">
    <div class="row" [formGroup]="formGroup">
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label>Filtar por:</label>
          <select class="form-control" formControlName="filtro" (ngModelChange)="changefiltro()">
            <option value="1">Cartera</option>
            <option value="2">Gestor</option>
          </select>
        </div>
      </div>
      <ng-container *ngIf="formGroup.controls.filtro.value == '1'">
        <div class="col-12 col-md-5">
          <div class="form-group" *ngIf="formGroup.controls.filtro.value=='1'">
            <label>Carteras: <span class="text-danger">*</span></label>
            <select class="form-control" formControlName="cartera" (ngModelChange)="changecartera($event)">
              <option value="">Seleccionar</option>
              <option *ngFor="let item of carteras" [value]="item.codCartera">{{ item.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="col-6 col-md-1">
          <div class="form-group">
            <label>Inicio:</label>
            <input type="text" class="form-control" NumberInteger formControlName="desde" placeholder="Días de atraso">
          </div>
        </div>
        <div class="col-6 col-md-1">
          <div class="form-group">
            <label>Fin:</label>
            <input type="text" class="form-control" NumberInteger formControlName="hasta" placeholder="Días de atraso">
          </div>
        </div>
      </ng-container>
      <div class="col-12 col-md-7" *ngIf="formGroup.controls.filtro.value=='2'">
        <div class="form-group">
          <label>Gestores: <span class="text-danger">*</span></label>
          <select class="form-control" formControlName="gestor" (ngModelChange)="creditos = []">
            <option value="">Seleccionar</option>
            <option *ngFor="let item of ejecutivos" [value]="item.codUsuario">{{ item.alias }}</option>
          </select>
        </div>

      </div>
      <div class="col-12 col-md-2">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-outline-primary" (click)="buscar()">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="creditos.length > 0">
  <div class="card-body">
    <div class="row">
      <div class="col-12 mt-4">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover">
            <thead>
            <tr class="text-center">
              <th scope="col" width="5%">#</th>
              <th scope="col" *ngIf="formGroup.controls.filtro.value=='2'">Cartera</th>
              <th scope="col" *ngIf="formGroup.controls.filtro.value=='1'">Gestor</th>
              <th scope="col">Crédito</th>
              <th scope="col">Socio</th>
              <th scope="col">Dias Atraso</th>
              <th scope="col">Opción</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngFor="let credito of creditos; let i = index">
              <th scope="row">
                <span>{{ i + 1 }}</span>
              </th>
              <td style="text-align: left;" *ngIf="formGroup.controls.filtro.value=='2'">{{ credito.cartera }}</td>
              <td style="text-align: left;" *ngIf="formGroup.controls.filtro.value=='1'">{{ credito.ejecutivo }}</td>
              <td>{{ credito.nroCredito }}</td>
              <td style="text-align: left;">{{ credito.socioAlias }}</td>
              <td>{{ credito.diasAtraso }}</td>
              <td>
                <button type="button" class="btn btn-sm btn-outline-info mr-2"
                        [routerLink]="'/auth/procesos/cartera-vencida/'+credito.ejecutivoUuid+'/'+credito.nroCredito+'/detalle'">
                  <i class="fa fa-arrow-right"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group text-center" *ngIf="creditos.length == 0">
          <span>No se encontro créditos vencidos.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
