<div class="card">
    <div class="card-header">
        <h2 class="card-title text-uppercase">Relación gestiones realizadas</h2>
    </div>
    <div class="card-body">
        <div class="row" [formGroup]="formSearch">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label>Fecha de Inicio</label>
                    <input type="date" class="form-control" formControlName="start">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label>Fecha de Inicio</label>
                    <input type="date" class="form-control" formControlName="finish">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group text-center">
                    <button class="btn btn-sm btn-primary" [disabled]="formSearch.invalid" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i> Buscar Gestiones</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ngb-tabset [destroyOnHide]="false">
                    <ngb-tab>
                        <ng-template ngbTabTitle>Moneda <b>Soles</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12" *ngFor="let item of itemSoles">
                                    <div class="form-group">
                                        <label>Moneda <b>Soles</b></label><br>
                                        <label>Gestor <b class="text-uppercase">{{ item.gestor }}</b></label>
                                        <div *ngFor="let etapa of item.etapas">
                                            <table datatable [dtOptions]="dtOptions" class="table table-bordered table-responsive">
                                                <caption style="caption-side: top; text-align: center;">Etapa <b>{{ etapa.etapa }}</b></caption>
                                                <thead>
                                                    <tr class="text-center">
                                                        <th>#</th>
                                                        <th>Cartera</th>
                                                        <th>LLamadas</th>
                                                        <th>WhatsApp</th>
                                                        <th>Correo</th>
                                                        <th>SMS</th>
                                                        <th>Visita</th>
                                                        <th>Carta</th>
                                                        <th>Compromiso de pago</th>
                                                        <th>Cargo en cuenta</th>
                                                        <th>Total Gestiones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center" *ngFor="let cartera of etapa.carteras; let i = index">
                                                        <td>{{ i+1 }}</td>
                                                        <td>{{ cartera.cartera }}</td>
                                                        <td>{{ countItems(cartera.creditos, '1') }}</td>
                                                        <td>{{ countItems(cartera.creditos, '2') }}</td>
                                                        <td>{{ countItems(cartera.creditos, '3') }}</td>
                                                        <td>{{ countItems(cartera.creditos, '4') }}</td>
                                                        <td>{{ countItems(cartera.creditos, '5') }}</td>
                                                        <td>{{ countItems(cartera.creditos, '6') }}</td>
                                                        <td>{{ countItems(cartera.creditos, '7') }}</td>
                                                        <td>{{ countItems(cartera.creditos, '8') }}</td>
                                                        <td>{{ cartera.creditos.length}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Etapa</th>
                                                <th>Preventiva</th>
                                                <th>Pre-Correctiva</th>
                                                <th>Correctiva</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Total gestiones</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                            <tr>
                                                <td>Total créditos asignados</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                            <tr>
                                                <td>Total créditos sin gestión</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                            <tr>
                                                <td>Nivel de Gestión</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>Moneda <b>Dolares</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Moneda <b>Dolares</b></label><br>
                                        <label>Gestor <b>FRANZ JUNIOR</b></label>
                                        <div class="table-responsive">
                                            <table datatable [dtOptions]="dtOptions" class="table table-bordered table-responsive">
                                                <caption style="caption-side: top; text-align: center;">Cartera <b>ABACO</b></caption>
                                                <thead>
                                                    <tr class="text-center">
                                                        <th>#</th>
                                                        <th>Cartera</th>
                                                        <th>LLamadas</th>
                                                        <th>WhatsApp</th>
                                                        <th>Correo</th>
                                                        <th>SMS</th>
                                                        <th>Visita</th>
                                                        <th>Carta</th>
                                                        <th>Compromiso de pago</th>
                                                        <th>Cargo en cuenta</th>
                                                        <th>Total Gestiones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center" *ngFor="let item of []; let i = index">
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Etapa</th>
                                                <th>Preventiva</th>
                                                <th>Pre-Correctiva</th>
                                                <th>Correctiva</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Total gestiones</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                            <tr>
                                                <td>Total créditos asignados</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                            <tr>
                                                <td>Total créditos sin gestión</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                            <tr>
                                                <td>Nivel de Gestión</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>
