<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: '/assets/img/brand/logo.png', width: 89, height: 45, alt: 'Abaco Logo'}"
  [navbarBrandMinimized]="{src: '/assets/img/brand/sygnet.jpg', width: 30, height: 30, alt: 'Abaco Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]=false
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right" *ngIf="notifications.length > 0">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-bell" style="font-size: 20px"></i><span class="badge badge-pill badge-danger">{{ notifications.length }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown" style="width: 250px;">
        <div class="dropdown-header text-center"><strong>Tienes {{ notifications.length }} notificaciones</strong></div>
        <div class="container-noty">
          <ng-container *ngFor="let noty of notifications">
              <a class="dropdown-item" href="javascript:;" (click)="irNotification(noty)" style="padding: 10px">
                <div class="message">
                  <div class="d-flex justify-content-between">
                    <small class="text-muted text-truncate" style="width: 190px">{{ noty.socio }}</small>
                    <small class="text-muted float-right">{{ getFormart(noty.hora) }}</small>
                  </div>
                  <div class="text-truncate font-weight-bold">{{ getTipo(noty.tipo) }}</div>
                  <div class="small text-muted text-truncate">{{ noty.mensaje }}</div>
                </div>
              </a>
          </ng-container>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        <img src="/assets/img/avatars/user.svg" class="img-avatar" alt="admin@cognitivesoft.tech"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Ajustes</strong></div>

        <a class="dropdown-item"><i class="fa fa-user"></i> <span>{{ username }}</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>Cerrar sesión</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized" [appSidebarToggler]="true"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        </div>
      </li>

    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span> </span>
  <span  class="ml-auto"> &copy; <a href="https://www.abaco.com.pe/" target="_blank">Cooperativa Abaco</a> 2022 Todos los derechos reservados.</span>
</app-footer>
<ngx-spinner></ngx-spinner>
