<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Simulación de Pago</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()">X</button>
  </div>
  <div class="modal-body" [formGroup]="formGroup">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <span>Fecha Próxima Vencimiento: <b>{{ fechaProximoVencimiento | date:'dd/MM/yyyy' }}</b></span><br>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Deuda a la Fecha:</label>
          <input CustomizeCurrency type="text" class="form-control" placeholder="0.00" formControlName="monto">
        </div>
      </div>
      <div class="col-sm-6">
        <label>Fecha Pago: </label>
        <div class="input-group mb-3">
          <input type="date" class="form-control" formControlName="fecha" (change)="verificarFecha()">
          <div class="input-group-prepend">
            <button [disabled]="formGroup.invalid" (click)="calcular()" type="button" class="btn btn-primary"><i
              class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="cuotas.length > 0">
      <div class="col-12">
        <div class="form-group">
          <span>Monto Fecha: <b>{{ saldoFecha | currency: ' ' }}</b></span> <br>
          <span>Monto Próxima Cuota: <b>{{ montoCuotaProxima | currency: ' ' }}</b></span><br>
        </div>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr class="text-center">
              <th width="10%" scope="col">#</th>
              <th scope="col">Amortización</th>
              <th scope="col">Interés</th>
              <th scope="col">Desgravamen</th>
              <th scope="col">Cuota Pagar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of cuotas; let i = index" class="text-center" >
              <th scope="row">{{i + 1}}</th>
              <td>{{item.calcularAmortizacion | currency: ' '}}</td>
              <td>{{item.interesPrestamoSaldo | currency: ' '}}</td>
              <td>{{item.seguroDesgravamen | currency: ' '}}</td>
              <td class="bg-success">{{item.calcularAmortizacion + item.interesPrestamoSaldo + item.seguroDesgravamen | currency: ' '}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-success" [disabled]="this.cuotas.length == 0" (click)="selectedItem(0)">Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
  </div>
</div>
<ngx-spinner name="loading" type="timer">
  <p class="loading">Espere un momento...</p>
</ngx-spinner>
