<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            Record de atraso
        </div>
        <div class="card-body" *ngIf="alDia.length > 0">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-record-atraso">
                                <caption>Al día en sus pagos (en miles)</caption>
                                <thead>
                                    <tr>
                                        <th>Moneda</th>
                                        <th *ngFor="let item of alDia">{{ item.label }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">Soles</td>
                                        <td *ngFor="let item of alDia">
                                            <div class="progress" style="height: 25px;">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar  bg-primary" role="progressbar" style="width: 100%;">{{ item.sol | currency: ' ' }}</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Dolares</td>
                                        <td *ngFor="let item of alDia">
                                            <div class="progress" style="height: 25px;">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar  bg-info-ligth" role="progressbar" style="width: 100%;">{{ item.dolar | currency: ' ' }}</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-record-atraso">
                                <caption>Con días de atraso (en miles)</caption>
                                <thead>
                                    <tr>
                                        <th>Moneda</th>
                                        <th *ngFor="let item of atraso">{{ item.label }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">Soles</td>
                                        <td *ngFor="let item of atraso">
                                            <div class="progress" style="height: 25px;">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-brown" role="progressbar" style="width: 100%;">{{ item.sol | currency: ' ' }}</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Dolares</td>
                                        <td *ngFor="let item of atraso">
                                            <div class="progress" style="height: 25px;">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-brown-ligth" role="progressbar" style="width: 100%;">{{ item.dolar | currency: ' ' }}</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
