<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Evolución de la cobranza del día
    </div>
    <div class="card-body">
      <div class="row item-border" *ngIf="clasificacionesAbaco.length > 0">
        <div class="col-12 col-md-12">
          ABACO
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group text-center">
            <label class="font-weight-bold">Soles (Miles)</label>
            <app-progress-evaluacion-cobranza [stacked]="getDataArray(clasificacionesAbaco, monSol)"></app-progress-evaluacion-cobranza>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group text-center">
            <label class="font-weight-bold">Dolares (Miles)</label>
            <app-progress-evaluacion-cobranza [stacked]="getDataArray(clasificacionesAbaco, monDolar)"></app-progress-evaluacion-cobranza>
          </div>
        </div>
      </div>
      <div class="row item-border" *ngIf="clasificacionesCentralRiesgo.length > 0">
        <div class="col-12 col-md-12">
          Central de riesgo
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group text-center">
            <label class="font-weight-bold">Soles (Miles)</label>
            <app-progress-evaluacion-cobranza [stacked]="getDataArray(clasificacionesCentralRiesgo, monSol)"></app-progress-evaluacion-cobranza>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group text-center">
            <label class="font-weight-bold">Dolares (Miles)</label>
            <app-progress-evaluacion-cobranza [stacked]="getDataArray(clasificacionesCentralRiesgo, monDolar)"></app-progress-evaluacion-cobranza>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Leyenda</label>
            <ul class="leyenda">
              <li class="leyenda-item">
                <div class="progress">
                  <div class="progress-bar bg-danger-dark" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Perdida</div>
                </div>
              </li>
              <li class="leyenda-item">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Dudoso</div>
                </div>
              </li>
              <li class="leyenda-item">
                <div class="progress">
                  <div class="progress-bar bg-orange" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Deficiente</div>
                </div>
              </li>
              <li class="leyenda-item">
                <div class="progress">
                  <div class="progress-bar bg-yellow" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Con problema potencial</div>
                </div>
              </li>
              <li class="leyenda-item">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Normal</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
