<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>
        <span class="card-title text-uppercase font-weight-bold">Importación de cartera</span>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Fecha de Carga</th>
            <th>Registros</th>
            <th>Clientes</th>
            <th>Deuda Capital</th>
            <th>Intereses</th>
            <th>Deuda Actualizada</th>
            <th>Cargado</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of cargas; index as i; ">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ o.fechaCarga | date: 'dd/MM/yyyy hh:mm a' | lowercase}}</td>
            <td class="text-center">
              <a [routerLink]="['./creditos',o.id]" class="text-info" ngbTooltip="Créditos">
                {{ o.nroRegistros }}
              </a>
            </td>
            <td class="text-center">
              <a [routerLink]="['./clientes',o.id]" class="text-info" ngbTooltip="Clientes">
                {{ o.nroClientes }}
              </a>
            </td>
            <td class="text-center">{{ o.deudaCapital}}</td>
            <td class="text-center">{{ o.intereses}}</td>
            <td class="text-center">{{ o.deudaActualizada}}</td>
            <td class="text-center">
              <i class="fa " [ngClass]="o.cargado ? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-danger mr-5px" (click)="quieresResetear()">
          Resetear
        </button>
        <button class="btn btn-instagram mr-5px" (click)="cargarArchivo()">
          Cargar Archivo
        </button>
        <button class="btn btn-success mr-5px" (click)="quieresEjecutarCarga()">
          Ejecutar Carga
        </button>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
