<div class="card">
  <div class="card-header">
    <h2 class="card-title text-uppercase">bitacora de gestiones</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Fecha de Inicio</label>
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>Fecha de Inicio</label>
          <input type="date" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab>
            <ng-template ngbTabTitle>Moneda <b>Soles</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Moneda <b>Soles</b></label><br>
                    <label>Gestor <b>FRANZ JUNIOR</b></label>
                    <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="table table-bordered table-responsive">
                        <caption style="caption-side: top; text-align: center;">Cartera <b>ABACO</b></caption>
                        <thead>
                        <tr class="text-center">
                          <th>#</th>
                          <th>Kardex</th>
                          <th>Código del socio</th>
                          <th>Nombre del socio</th>
                          <th>Apellidos del socio</th>
                          <th>Tipo de DOI</th>
                          <th>Número de DOI</th>
                          <th>Cantidad de cuotas atrasadas</th>
                          <th>Fecha ulitma cuota vencida</th>
                          <th>Fecha del proximo vencimiento</th>
                          <th>Fecha real de pago</th>
                          <th>Monto por cobrar (S/)</th>
                          <th>Monto cobrado (S/)</th>
                          <th>Días de atraso</th>
                          <th>Días de atraso acumulado</th>
                          <th>Cantidad de cuotas pagadas con atraso</th>
                          <th>Días de atraso en promiedio por cada cuota atrasada</th>
                          <th>Cantidad de gestiones</th>
                          <th>Gestiones acumuladas</th>
                          <th>Acuerdo de pago</th>
                          <th>Fecha a pagar el acuerdo</th>
                          <th>Cantidad de acuerdos acumulado</th>
                          <th>División</th>
                          <th>Banca</th>
                          <th>Etapa</th>
                          <th>Tipo de producto</th>
                          <th>Cartera asignada</th>
                          <th>Gestor anterior</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" *ngFor="let item of gestionDolares; let i = index">
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>

                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-5  col-md-offset-3">
                  <table class="table table-bordered table-responsive">
                    <thead>
                    <tr class="text-center">
                      <th colspan="2"><h4>Resumen Bitacora Cartera en Soles</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Total créditos asignados</td>
                      <td class="text-center">0</td>
                    </tr>
                    <tr>
                      <td>Total gestiones realizadas</td>
                      <td class="text-center">0</td>
                    </tr>
                    <tr>
                      <td>Total gestiones no realizadas</td>
                      <td class="text-center">0</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Moneda <b>Dolares</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Moneda <b>Dolares</b></label><br>
                    <label>Gestor <b>FRANZ JUNIOR</b></label>
                    <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" class="table table-bordered table-responsive">
                        <caption style="caption-side: top; text-align: center;">Cartera <b>ABACO</b></caption>
                        <thead>
                        <tr class="text-center">
                          <th>#</th>
                          <th>Kardex</th>
                          <th>Código del socio</th>
                          <th>Nombre del socio</th>
                          <th>Apellidos del socio</th>
                          <th>Tipo de DOI</th>
                          <th>Número de DOI</th>
                          <th>Cantidad de cuotas atrasadas</th>
                          <th>Fecha ulitma cuota vencida</th>
                          <th>Fecha del proximo vencimiento</th>
                          <th>Fecha real de pago</th>
                          <th>Monto por cobrar (S/)</th>
                          <th>Monto cobrado (S/)</th>
                          <th>Días de atraso</th>
                          <th>Días de atraso acumulado</th>
                          <th>Cantidad de cuotas pagadas con atraso</th>
                          <th>Días de atraso en promiedio por cada cuota atrasada</th>
                          <th>Cantidad de gestiones</th>
                          <th>Gestiones acumuladas</th>
                          <th>Acuerdo de pago</th>
                          <th>Fecha a pagar el acuerdo</th>
                          <th>Cantidad de acuerdos acumulado</th>
                          <th>División</th>
                          <th>Banca</th>
                          <th>Etapa</th>
                          <th>Tipo de producto</th>
                          <th>Cartera asignada</th>
                          <th>Gestor anterior</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" *ngFor="let item of gestionDolares; let i = index">
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>

                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-5  col-md-offset-3">
                  <table class="table table-bordered table-responsive">
                    <thead>
                    <tr class="text-center">
                      <th colspan="2"><h4>Resumen Bitacora Cartera en Dolares</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Total créditos asignados</td>
                      <td class="text-center">0</td>
                    </tr>
                    <tr>
                      <td>Total gestiones realizadas</td>
                      <td class="text-center">0</td>
                    </tr>
                    <tr>
                      <td>Total gestiones no realizadas</td>
                      <td class="text-center">0</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
