<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>
    <span class="card-title text-uppercase font-weight-bold">Carteras Asignadas</span>
    <div class="card-tools float-right" *ngIf="!role">
      <button type="button" class="btn btn-sm btn-primary" routerLink="/auth/estrategia/asignacion-cartera">
        <i class="fa fa-arrow-left"></i> Regresar
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Cartera</th>
              <th scope="col">Frecuencia</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fin</th>
              <th scope="col">Opción</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngFor="let item of asignaciones; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td style="text-align: left"> {{ item.nombreCartera }}</td>
              <td>{{ item.frecuencia }}</td>
              <td> {{ item.startDate | date: 'dd/MM/yyyy'}}</td>
              <td> {{ item.endDate | date: 'dd/MM/yyyy'}}</td>
              <td>
                <button *ngIf="!role" class="btn btn-sm btn-primary mr-2" [routerLink]="'/auth/estrategia/asignacion-cartera/' + item.codEjecutivo + '/listado/' + item.id + '/detalle'"><i class="fa fa-eye"></i></button>
                <button *ngIf="role" class="btn btn-sm btn-primary mr-2" [routerLink]="'/auth/estrategia/asignacion-cartera/mis-cartera-asignadas/' + item.id + '/detalle'"><i class="fa fa-eye"></i></button>
              </td>
            </tr>
            <tr class="text-center" *ngIf="asignaciones.length == 0">
              <th scope="row" colspan="6"><small>No tiene carteras asignadas</small></th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
