<div class="row">
    <div class="col-lg-12" *ngIf="cartera">
        <div class="card">
            <div class="card-header d-flex justify-content-lg-between">
                <h6 class="p-0 m-0">Gestion</h6>
                <ol class="breadcrumb float-sm-right m-0 p-0 bg-transparent">
                    <li class="breadcrumb-item"><a href="#" routerLink="/auth">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:;" (click)="router.navigateByUrl('/auth/estrategia/carteras/detalle', {state: {cartera: cartera}})">Cartera</a></li>
                    <li class="breadcrumb-item active">Gestion</li>
                </ol>
            </div>
            <div class="card-body" [formGroup]="formGestion">
                <ul id="tabs" class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item"><a (click)="cambio(1)" data-target="#gestion" data-toggle="tab" class="gestion nav-link small text-uppercase active">INFORMACIÓN</a></li>
                    <li class="nav-item"><a (click)="cambio(2)" data-target="#etapas" data-toggle="tab" class="etapas nav-link small text-uppercase">ETAPAS</a></li>
                </ul>
                <br>
                <div id="tabsContent" class="tab-content">
                    <div id="gestion" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input Uppercase type="text" class="form-control" formControlName="nombre" [ngClass]="
                                    {
                                    'is-invalid': formGestion.controls['nombre'].touched && formGestion.controls['nombre'].errors,
                                    'is-valid': formGestion.controls['nombre'].touched && !formGestion.controls['nombre'].errors
                                    }
                                    ">
                                    <div class="invalid-feedback">
                                        <span class="d-block" *ngIf="formGestion.get('nombre').hasError('required')"> El nombre es obligatorio.</span>
                                        <span class="d-block" *ngIf="formGestion.get('nombre').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                                    </div>
                                </div>
                            </div>
                          <div class="col-12 col-md-3">
                            <div class="form-group">
                              <label>Area</label>
                              <select name="codArea" class="form-control" formControlName="codArea" [ngClass]="
                                    {
                                    'is-invalid': formGestion.controls['codArea'].touched && formGestion.controls['codArea'].errors,
                                    'is-valid': formGestion.controls['codArea'].touched && !formGestion.controls['codArea'].errors
                                    }
                                    ">
                                <option value="">Seleccione</option>
                                <option *ngFor="let item of areas" [value]="item.codItem">{{ item.descripcion }}</option>
                              </select>
                              <div class="invalid-feedback">
                                <span class="d-block" *ngIf="formGestion.get('codArea').hasError('required')"> El area es obligatorio.</span>
                              </div>
                            </div>
                          </div>
                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label>Desde</label>
                                    <input NumberInteger type="text" class="form-control" (change)="validarDesde()" formControlName="desde" [ngClass]="
                                    {
                                    'is-invalid': formGestion.controls['desde'].touched && formGestion.controls['desde'].errors,
                                    'is-valid': formGestion.controls['desde'].touched && !formGestion.controls['desde'].errors
                                    }
                                    ">
                                    <div class="invalid-feedback">
                                        <span class="d-block" *ngIf="formGestion.get('desde').hasError('required')"> El campo desde es obligatorio.</span>
                                        <span class="d-block" *ngIf="formGestion.get('desde').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="form-group">
                                    <label>Hasta</label>
                                    <input NumberInteger type="text" class="form-control" (change)="validarHasta()" formControlName="hasta" [ngClass]="
                                    {
                                    'is-invalid': formGestion.controls['hasta'].touched && formGestion.controls['hasta'].errors,
                                    'is-valid': formGestion.controls['hasta'].touched && !formGestion.controls['hasta'].errors
                                    }
                                    ">
                                    <div class="invalid-feedback">
                                        <span class="d-block" *ngIf="formGestion.get('hasta').hasError('required')"> El campo hasta es obligatorio.</span>
                                        <span class="d-block" *ngIf="formGestion.get('hasta').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Pistas de Auditoria</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fecha Creación:</label>
                                    <input type="text" class="form-control" formControlName="fechaCreacion">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Usuario Creador:</label>
                                    <input type="text" class="form-control" formControlName="userCreate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fecha Actualización:</label>
                                    <input type="text" class="form-control" formControlName="fechaActualizacion">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Usuario Actualiza:</label>
                                    <input type="text" class="form-control" formControlName="userUpdate">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="etapas" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-outline-info btn-sm" (click)="nuevaEtapa()">Nuevo</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Parametros</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let item of etapas; let i = index">
                                                <ng-container *ngIf="item.estado == '1'">
                                                    <tr class="text-center">
                                                        <th scope="row"> {{ i+1 }}</th>
                                                        <td>{{ item.nombre }}</td>
                                                        <td>{{ item.desde }} a {{ item.hasta }}</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-sm btn-info mr-2" (click)="actualzarEtapa(i)"><i class="fa fa-edit"></i></button>
                                                            <button class="btn btn-sm btn-danger" (click)="eliminar(item, i)"><i class="fa fa-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <button [disabled]="formGestion.invalid" *ngIf=" create " class="btn btn-lg btn-outline-info " (click)="guardar() ">Guardar</button>
                  <button [disabled]="formGestion.invalid" *ngIf="!create" class="btn btn-lg btn-outline-info" (click)="actualizar()">Actualizar</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>
