<div class="row" *ngIf="gestion">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-lg-between">
                <h6 class="p-0 m-0">Gestión</h6>

            </div>
            <div class="card-body" [formGroup]="formGestion">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label>Gestiones</label>
                            <input type="text" formControlName="nombre" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label>Área</label>
                            <select formControlName="codArea" class="form-control">
                <option *ngFor="let item of areas" [value]="item.codItem">{{ item.descripcion }}</option>
              </select>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Días Desde</label>
                            <input NumberInteger type="text" class="form-control" (change)="validarDesde()" formControlName="desde" [ngClass]="
                                    {
                                    'is-invalid': formGestion.controls['desde'].touched && formGestion.controls['desde'].errors,
                                    'is-valid': formGestion.controls['desde'].touched && !formGestion.controls['desde'].errors
                                    }
                                    ">
                            <div class="invalid-feedback">
                                <span class="d-block" *ngIf="formGestion.get('desde').hasError('required')"> El campo desde es obligatorio.</span>
                                <span class="d-block" *ngIf="formGestion.get('desde').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Días Hasta</label>
                            <input NumberInteger type="text" class="form-control" (change)="validarHasta()" formControlName="hasta" [ngClass]="
                                    {
                                    'is-invalid': formGestion.controls['hasta'].touched && formGestion.controls['hasta'].errors,
                                    'is-valid': formGestion.controls['hasta'].touched && !formGestion.controls['hasta'].errors
                                    }
                                    ">
                            <div class="invalid-feedback">
                                <span class="d-block" *ngIf="formGestion.get('hasta').hasError('required')"> El campo hasta es obligatorio.</span>
                                <span class="d-block" *ngIf="formGestion.get('hasta').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Etapas</label>
                            <input Uppercase type="text" class="form-control" formControlName="codEtapaTemp">
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <label>Días Desde</label>
                            <input NumberInteger type="text" formControlName="desdeTemp" class="form-control">
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <label>Días Hasta</label>
                        <div class="input-group">
                            <input NumberInteger type="text" formControlName="hastaTemp" class="form-control">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-success" (click)="addEtapa()">
                  <i *ngIf="!etapaEdit" class="fa fa-plus"></i>
                  <i *ngIf="etapaEdit" class="fa fa-edit"></i>
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="$etapas.length > 0">
                        <div class="form-group table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">#</th>
                                        <th scope="col">Etapa</th>
                                        <th scope="col">Días Desde</th>
                                        <th scope="col">Días Hasta</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of $etapas; let i = index" class="text-center">
                                        <th scope="row">{{ i+1 }}</th>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.desde }}</td>
                                        <td>{{ item.hasta }}</td>
                                        <td>
                                            <span *ngIf="item.estado == '1'" class="badge badge-info">Activo</span>
                                            <span *ngIf="item.estado == '0'" class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <button *ngIf="item.codEtapa" [disabled]="item.estado == '0'" class="btn btn-sm btn-success mr-2" placement="top" ngbTooltip="Editar" (click)="editarItem(item)"><i class="fa fa-edit"></i></button>
                                            <button *ngIf="item.estado == '1'" class="btn btn-sm btn-danger" placement="top" ngbTooltip="Desactivar" (click)="estadoEtapa(item, '0')"><i class="fa fa-close"></i></button>
                                            <button *ngIf="item.estado == '0'" class="btn btn-sm btn-info" placement="top" ngbTooltip="Activar" (click)="estadoEtapa(item, '1')"><i class="fa fa-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" (click)="agregar()">Actualizar Gestión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>
