<div class="card section-credito-socio" *ngIf="socio">
    <div class="card-header">
        <i class="fa fa-align-justify"></i>
        <span class="card-title text-uppercase font-weight-bold">Información del socio</span>
        <div class="card-tools float-right" *ngIf="solicitud.condicion == 'N' || solicitud.condicion == 'M'">
            <button class="btn btn-sm btn-secondary mr-4" [disabled]="!mensaje" (click)="observar()">Rechazar</button>
            <button class="btn btn-sm btn-success mr-4" [disabled]="!mensaje" (click)="aceptar()">Aceptar</button>
            <button type="button" class="btn btn-sm btn-primary" routerLink="/auth/recuperacion/extrajudicial/solicitudes">
        <i class="fa fa-arrow-left"></i> Regresar
      </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="socio.personaNatural">
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label>Primer Apellido</label>
                    <input type="text" class="form-control" disabled [value]="socio.personaNatural.primerApellido">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label>Segundo Apellido</label>
                    <input type="text" class="form-control" disabled [value]="socio.personaNatural.segundoApellido">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label>Primer Nombre</label>
                    <input type="text" class="form-control" disabled [value]="socio.personaNatural.primerNombre">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label>Segundo Nombre</label>
                    <input type="text" class="form-control" disabled [value]="socio.personaNatural.segundoNombre">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="solicitud">
            <div class="col-12">
                <div class="form-group">
                    <label>Ultimo Comentario:</label>
                    <ng-container *ngIf="seguimientos.length > 0">
                        <br>
                        <span><b>{{ seguimientos[0].gestorAlias }} {{ seguimientos[0].fechaCreacion | date: 'dd MMM yy HH:mm' }}
              :</b></span>
                        <div class="ql-container ql-snow mb-2" style="border-width: 0.5px;">
                            <div class="ql-editor" [innerHTML]="seguimientos[0].mensaje">
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-12 my-4" *ngIf="solicitud.condicion != 'A'">
                <quill-editor [styles]="{height: '200px'}" placeholder="Observación" [modules]="config" [(ngModel)]="mensaje" required>
                </quill-editor>
            </div>
        </div>
        <div class="row" *ngIf="solicitud && creditoPrincipal && creditoAsignado">
            <div class="col-12">
                <ngb-tabset [destroyOnHide]="false" [activeId]="2" (tabChange)="tabSeleccionado($event)">
                    <ngb-tab title="Gestión" id="1" *ngIf="solicitud.gestorId">
                        <ng-template ngbTabContent>
                            <app-gestion-socio-registrar [credito]="creditoPrincipal" (enviarGestion)="enviarGestion($event)" (enviarSMS)="enviarSMS($event)" (enviarWhatsApp)="enviarWhatsApp($event)" (enviarCorreo)="enviarCorreo($event)" [telefonos]="socio.telefonos" [correos]="socio.correos"
                                [direcciones]="socio.direcciones"></app-gestion-socio-registrar>

                            <div class="table-responsive mt-4">
                                <table data-detail-view="true" class="table table-bordered" id="listaGestiones">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="detail" rowspan="1">
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th data-field="field0">
                                                <div class="th-inner sortable both">Acción</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th data-field="field1">
                                                <div class="th-inner sortable both">Target</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th data-field="field2">
                                                <div class="th-inner sortable both">Respuesta</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th data-field="field3">
                                                <div class="th-inner sortable both">Comentario</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th data-field="field4">
                                                <div class="th-inner sortable both">Fecha</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th data-field="field5">
                                                <div class="th-inner sortable both">Usuario</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of $acciones; let i = index;">
                                            <tr [attr.data-index]="i" data-has-detail-view="true" class="text-center cursor-pointer tr_{{i}}" (click)="showDetalle(i, item)">
                                                <td class="text-center">
                                                    <ng-container *ngIf="item.tipo == 1"><span class="text-warning">
                          <i class="fa fa-usd" aria-hidden="true"></i>
                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="item.tipo == 6"><span class="text-danger">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="item.tipo == 0"><span class="text-info">
                          <i class="fa fa-bell" aria-hidden="true"></i>
                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="item.tipo == 2"><span class="text-info">
                          <i class="fa fa-comment" aria-hidden="true"></i>
                        </span>
                                                    </ng-container>
                                                    <ng-container *ngIf="item.tipo == 3"><span class="text-success">
                          <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </span>
                                                    </ng-container>
                                                </td>
                                                <td>
                                                    {{ item.gestionDescripcion }}
                                                </td>
                                                <td> {{ getComentario(item.target) }}</td>
                                                <td>{{ item.respuestaDescripcion }}</td>
                                                <td>
                                                    <ng-container *ngIf="item.comentario">
                                                        {{ getComentario(item.comentario) }}
                                                    </ng-container>
                                                </td>
                                                <td> {{item.fechaRegistro | date: 'd/M/yyyy'}}</td>
                                                <td>
                                                    {{item.ejecutivoNombre | slice: 0 : 15}} {{item.ejecutivoNombre.length > 15 ? '...' : ''}}</td>
                                            </tr>
                                            <tr [class]="'detail-view item_'+i +' item-detalle hidden'">
                                                <td colspan="7">
                                                    <div class="bootstrap-table bootstrap4">
                                                        <div class="fixed-table-toolbar"></div>
                                                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                                                            <div class="fixed-table-header" style="display: none;">
                                                                <table></table>
                                                            </div>
                                                            <div class="fixed-table-body">
                                                                <table class="table table-bordered table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th data-field="field0">
                                                                                <div class="th-inner sortable both">
                                                                                    <span>{{ item.gestionDescripcion }}
                                            <div
                                              class="fht-cell pull-right">{{item.fechaRegistro | date: 'MMMM y, EEEE d  h:mm a'}}
                                            </div>
                                          </span>
                                                                                </div>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="mb-2">
                                                                                    <span><b>Target: </b></span> {{ item.target }}
                                                                                    <br>
                                                                                    <ng-container *ngIf="item.tipo != 6">
                                                                                        <span><b>Usuario: </b></span> {{ item.ejecutivoNombre }}
                                                                                        <br>
                                                                                        <span *ngIf="item.tipo != 6"><b>Comentario: </b></span> {{ item.comentario }}
                                                                                    </ng-container>
                                                                                    <ng-container *ngIf="item.tipo == 6">
                                                                                        <div class="ql-container ql-snow mb-2" style="border-width: 0.5px;">
                                                                                            <div class="ql-editor" [innerHTML]="item.comentario">
                                                                                            </div>
                                                                                        </div>
                                                                                    </ng-container>
                                                                                </div>

                                                                            </td>
                                                                        </tr>
                                                                        <tr *ngIf="item.tipo == 3">
                                                                            <td>
                                                                                <div class="body-comment">
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="table-responsive" *ngIf="acuerdosPagoTemp.length > 0">
                                                                    <table id="tabla-acuerdos2" class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr class="text-center">
                                                                                <th>Fecha</th>
                                                                                <th>Monto</th>
                                                                                <th>T. Acuerdo</th>
                                                                                <th>Estado</th>
                                                                                <th>Tipo</th>
                                                                                <th>Cuota</th>
                                                                                <th>Plazo</th>
                                                                                <!--th>Opcipon</th-->
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let item of acuerdosPagoTemp" [class]="isCurrentDate(item.fechaInicio, item.condicion)" style="font-size: 12px; text-align: center">
                                                                                <td>
                                                                                    {{ item.fechaInicio | date: 'dd/MM/yyyy' }}
                                                                                </td>
                                                                                <td>{{ item.montoAcordado | currency: 'S/ ' }} </td>
                                                                                <td>{{ item.tipoAcuerdo }}</td>
                                                                                <td>{{ item.condicionNombre}}</td>
                                                                                <td>{{ item.tipoAcuerdoNombre | uppercase}}</td>
                                                                                <td>{{ item.cuota }}</td>
                                                                                <td>{{ item.plazo }}</td>
                                                                                <!--
                              <td>
                                <ng-container *ngIf="item.condicion != '5'">

                                  <button *ngIf="conPermiso" [disabled]="isAfter(item.fechaInicio)" class="btn btn-sm btn-danger" (click)="eliminarAcuerdoPago(item)"><i class="fa fa-trash"></i></button>

                                      </ng-container>

                                    </td>
                                    -->
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-center p-2" *ngIf="acciones.length > 10">
                                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshAcciones()">
                                    </ngb-pagination>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Créditos" id="2">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12" *ngIf="creditos.length > 0">
                                    <div class="form-group">
                                        <label>Lista de Créditos</label>
                                        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <tr class="text-center">
                                                        <th scope="col" width="5%">#</th>
                                                        <th> Opción</th>
                                                        <th>Nro Crédito</th>
                                                        <th>Moneda</th>
                                                        <th>F. Desem</th>
                                                        <th>Cap. Vig.</th>
                                                        <th>Cap. Ven.(par. Mor.)</th>
                                                        <th>Int. Cre. Fec.</th>
                                                        <th>Estado</th>
                                                        <th>Pro. Abaco</th>
                                                        <th>Tip. Serv.</th>
                                                        <th>Tip. Pro. Serv.</th>
                                                        <th>Condición</th>
                                                        <th>Fec. Repro.</th>
                                                        <th>Refinanciado</th>
                                                        <th>Importe Vencido</th>
                                                        <th>Días Venc.</th>
                                                        <th>Fec. Venc.</th>
                                                        <th>Tot. Cuotas</th>
                                                        <th>Cuotas Pag.</th>
                                                        <th>Cuotas Pen.</th>
                                                        <th>Fec. Ult. Pag.</th>
                                                        <th>Cuotas Atra.</th>
                                                        <th>Mont. Atra.</th>
                                                        <th>Fec. Cuo. Mes</th>
                                                        <th>Mont. Cuo. Mes</th>
                                                        <th>Calificación</th>
                                                        <th>Gar. Liqu.</th>
                                                        <th>Gar. Real</th>
                                                        <th>Tasa</th>
                                                        <th>División</th>
                                                        <th>Banca</th>
                                                        <th>Seg. Riesgo</th>
                                                        <th>Sec. Econo.</th>
                                                    </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let credito of creditos; let i = index" class="text-center">
                                                    <th scope="row">{{ i + 1 }}</th>
                                                    <td class="text-center">
                                                        <div class="w-100 d-flex justify-content-center">
                                                            <button class="btn btn-sm btn-primary mr-2"><i class="fa fa-eye"></i></button>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">{{ credito.nroCredito }}</td>
                                                    <td class="text-center">{{ credito.desMoneda }}</td>
                                                    <td class="text-center">{{ credito.fechaDesembolso | date: 'dd/MM/yyyy' }}</td>
                                                    <td class="text-center">{{ credito.montoCredito }}</td>
                                                    <td class="text-center">{{ credito.capitalVencido }}</td>
                                                    <td class="text-center">{{ credito.interesCreditoFecha }}</td>
                                                    <td class="text-center">{{ credito.estado }}</td>
                                                    <td class="text-center">{{ credito.productoAbaco }}</td>
                                                    <td class="text-center">{{ credito.tipoServicio }}</td>
                                                    <td class="text-center">{{ credito.tipoProdcutoAbaco }}</td>
                                                    <td class="text-center">{{ credito.condicion }}</td>
                                                    <td class="text-center">{{ credito.fechaReprogramado | date: 'dd/MM/yyyy' }}</td>
                                                    <td class="text-center">{{ credito.refinanciado }}</td>
                                                    <td class="text-center">{{ credito.importeVencido }}</td>
                                                    <td class="text-center">{{ credito.diasVencido }}</td>
                                                    <td class="text-center">{{ credito.fechaVencimiento | date: 'dd/MM/yyyy' }}</td>
                                                    <td class="text-center">{{ credito.totalCuotas }}</td>
                                                    <td class="text-center">{{ credito.cuotasPagadas }}</td>
                                                    <td class="text-center">{{ credito.cuotasPendientes }}</td>
                                                    <td class="text-center">{{ credito.fechaUltimoPago | date: 'dd/MM/yyyy' }}</td>
                                                    <td class="text-center">{{ credito.cuotasAtrasadas }}</td>
                                                    <td class="text-center">{{ credito.montoAtrasadas }}</td>
                                                    <td class="text-center">{{ credito.fechaCuotaMes | date: 'dd/MM/yyyy'}}</td>
                                                    <td class="text-center">{{ credito.montoCuotaMes }}</td>
                                                    <td class="text-center">{{ credito.calificacion }}</td>
                                                    <td class="text-center">{{ credito.garantiaLiquida }}</td>
                                                    <td class="text-center">{{ credito.garantiaReal }}</td>
                                                    <td class="text-center">{{ credito.desTipoTasa }}</td>
                                                    <td class="text-center">{{ credito.division }}</td>
                                                    <td class="text-center">{{ credito.banca }}</td>
                                                    <td class="text-center">{{ credito.segmentadoRiesgo }}</td>
                                                    <td class="text-center">{{ credito.sectorEconomico }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Fijo/Movil" id="3">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Número</th>
                                                    <th scope="col">Operador</th>
                                                    <th scope="col">Tipo</th>
                                                    <th scope="col">Notificación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let phone of socio.telefonos; let i = index" class="text-center">
                                                    <th scope="row">{{ i + 1 }}</th>
                                                    <td>{{ (phone.codCiudad ? phone.codCiudad + '-' : '') + phone.numero }}</td>
                                                    <td>{{ phone.operadorDescripcion }}</td>
                                                    <td>{{ phone.tipoUsoDescripcion }}</td>
                                                    <td>{{ phone.tipoNotificacion }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Correo" id="4">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Correo</th>
                                                    <th scope="col">Tipo</th>
                                                    <th scope="col">Notificación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" *ngFor="let email of socio.correos; let i = index">
                                                    <th scope="row">{{ i + 1 }}</th>
                                                    <td>{{ email.email }}</td>
                                                    <td>{{ email.tipoUsoDescripcion }}</td>
                                                    <td>{{ email.tipoNotificacion }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Dirección" id="5">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col">Tipo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" *ngFor="let direccion of socio.direcciones; let i = index" style="font-size: 12px">
                                                    <th scope="row">{{ i + 1 }}</th>
                                                    <td style="text-align: left">{{ direccion.nombreVia}}</td>
                                                    <td>{{ direccion.tipoDireccion }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Documentos" id="6">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <table class="table table-bordered">
                                            <caption style="caption-side:top;">Lista de recursos del socio</caption>
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col" width="10%">#</th>
                                                    <th scope="col">Archivo</th>
                                                    <th scope="col" width="10%">Original</th>
                                                    <th scope="col" width="10%">Impresión</th>
                                                    <th scope="col" width="10%">Laserfiche</th>
                                                    <th scope="col" width="10%">Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of solicitudArchivos; let i = index" class="text-center">
                                                    <th scope="row">{{ i + 1 }}</th>
                                                    <td style="text-align: left;">{{ item.archivoDescripcion }}</td>
                                                    <td class="text-center">
                                                        <span>{{ item.original ? 'SI' : 'NO' }}</span>
                                                    </td>
                                                    <td>
                                                        {{ item.impresion ? 'SI' : 'NO' }}
                                                        <small *ngIf="item.impresion" style="display: block;" (click)="download(item.urlDisco, item.tipo)"><a href="javascript:;">VER</a></small>
                                                    </td>
                                                    <td>
                                                        <span>{{ item.laserfich ? 'SI' : 'NO' }}</span><br>
                                                        <small *ngIf="item.laserfich"><a href="javascript:;">VER</a></small>
                                                    </td>
                                                    <td>{{ item.fechaCreacion | date: 'dd-MM-yyyy' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Comentarios" id="7">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-12" *ngIf="solicitud">
                                    <div class="form-group">
                                        <ng-container *ngFor="let item of seguimientos">
                                            <br>
                                            <span><b>{{ item.gestorAlias }} {{ item.fechaCreacion | date: 'dd MMM yy HH:mm' }}:</b></span>
                                            <div class="ql-container ql-snow mb-2" style="border-width: 0.5;">
                                                <div class="ql-editor" [innerHTML]="item.mensaje">
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Propiedades" id="8" *ngIf="solicitud.gestorId">
                        <ng-template ngbTabContent>
                            <ngb-accordion [closeOthers]="true" activeIds="static-2">
                                <ngb-panel id="static-2">
                                    <ng-template ngbPanelTitle>
                                        <span>Inmuebles</span>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group text-right">
                                                    <button class="btn btn-sm btn-outline-primary mr-4" (click)="buscarPropiedades(socio.id)"><i
                            class="fa fa-search"></i> Busqueda inmueble
                          </button>
                                                    <button class="btn btn-sm btn-outline-success mr-4" (click)="generarExcelInmueble()"><i
                            class="fa fa-file-excel-o"></i> Descargar inmueble
                          </button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <table class="table table-bordered">
                                                        <caption>PROPIEDAD INMUEBLE DE LIMA</caption>
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th scope="col">#</th>
                                                                <th scope="col">PARTIDA</th>
                                                                <th scope="col">UBICACIÓN</th>
                                                                <th scope="col">STATUS</th>
                                                                <th scope="col">CARGAS O GRAVAMENES</th>
                                                                <th scope="col">TITULO PENDIENTE</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="text-center" *ngFor="let item of inmuebles; let i = index">
                                                                <th scope="row">{{ i + 1}}</th>
                                                                <td>{{item.partida}}</td>
                                                                <td style="text-align: left;">{{item.ubicacion}}</td>
                                                                <td>{{item.estado}}</td>
                                                                <td>{{item.cargos}}</td>
                                                                <td>{{item.tituloPendiente}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel id="static-3" title="Vehicular">
                                    <ng-template ngbPanelContent>
                                        <div class="row" *ngIf="socio">
                                            <div class="col-12">
                                                <div class="form-group text-right">
                                                    <button class="btn btn-sm btn-outline-primary mr-4" (click)="buscarPropiedades(socio.id)"><i
                            class="fa fa-search"></i> Busqueda vehicular
                          </button>
                                                    <button class="btn btn-sm btn-outline-success mr-4" (click)="generarExcelVehicular()"><i
                            class="fa fa-file-excel-o"></i> Descargar vehicular
                          </button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <table class="table table-bordered">
                                                        <caption>PROPIEDAD VEHICULAR DE LIMA</caption>
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th scope="col" width="10%">#</th>
                                                                <th scope="col" width="15%">PLACA</th>
                                                                <th scope="col">DESCRIPCION</th>
                                                                <th scope="col" width="20%">TITULO PENDIENTE</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="text-center" *ngFor="let item of vehicular; let i = index">
                                                                <th scope="row">{{ i + 1}}</th>
                                                                <td>{{item.placa}}</td>
                                                                <td style="text-align: left;">{{item.descripcion ? (item.descripcion.length > 100 ? item.descripcion.slice(0, 100) + '...' : item.descripcion) : ''}}</td>
                                                                <td>{{item.tituloPendiente}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>
