<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-lg-between">
                <h6 class="p-0 m-0">Lista de Etapas</h6>
                <div class="card-tools">
                    <button *ngIf="menuService.hasShowEtapa(this.A.ETAPA_NUEVO)" routerLink="/auth/configuracion/gestiones/registrar" class="btn btn-sm btn-outline-primary"><i class="fa fa-plus"></i> Nuevo Etapa</button>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Etapa</th>
                                <th scope="col">Área</th>
<!--                                <th scope="col">Días Desde</th>-->
<!--                                <th scope="col">Días Hasta</th>-->
                                <th scope="col">Estado</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="gestiones.length > 0">
                                <tr class="text-center" *ngFor="let item of gestiones; let i = index;">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.nombreArea }}</td>
<!--                                    <td>{{ item.desde }}</td>-->
<!--                                    <td>{{ item.hasta }}</td>-->
                                    <td>
                                        <span *ngIf="item.estado == '1'" class="badge badge-info">Activo</span>
                                        <span *ngIf="item.estado == '0'" class="badge badge-danger">Inactivo</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button *ngIf="menuService.hasShowEtapa(this.A.ETAPA_DETALLE)" [disabled]="item.estado == '0'" class="btn btn-sm btn-primary mr-2" placement="top" ngbTooltip="Detalle" (click)="showDetails(item)"><i class="fa fa-eye"></i></button>
                                           <ng-container *ngIf="menuService.hasShowEtapa(this.A.ETAPA_DISABLE)">
                                             <button class="btn btn-sm btn-danger" *ngIf="item.estado == '1'" placement="top" ngbTooltip="Desactivar" (click)="cambiarEstado(item, '0')"><i class="fa fa-close"></i></button>
                                             <button class="btn btn-sm btn-success" *ngIf="item.estado == '0'" placement="top" ngbTooltip="Activar" (click)="cambiarEstado(item, '1')"><i class="fa fa-check"></i></button>
                                           </ng-container>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>
