<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            Motivo de atraso
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td width="50%">
                                Falta de liquidez o flujo de caja
                            </td>
                            <td width="50%">
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Salud (directa o indirecta al socio)
                            </td>
                            <td>
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Caso fortuito
                            </td>
                            <td>
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar bg-yellow" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Caso coyuntural
                            </td>
                            <td>
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar bg-orange" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
