<div class="card">
    <div class="card-header">
        <span *ngIf="credito" class="card-title text-uppercase font-weight-bold">Detalle del crédito {{ credito.nroCredito }}</span>
        <span *ngIf="!credito" class="card-title text-uppercase font-weight-bold">No se encontro registro</span>
        <div class="card-tools float-right">
            <button class="btn btn-sm btn-success mr-4" [disabled]="!mensaje" (click)="enviarSolicitud()">Enviar Información</button>
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="'/auth/estrategia/asignacion-cartera/'+ejecutivoUuid+'/creditos-vencidos'">
              <i class="fa fa-arrow-left"></i> Regresar
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="credito">
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label>Número de Crédito</label>
                    <input type="text" class="form-control" [value]="credito.nroCredito" disabled>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label>Socio</label>
                    <input type="text" class="form-control" [value]="credito.socioAlias" disabled>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label>Días Atraso</label>
                    <input type="text" class="form-control" [value]="credito.diasAtraso" disabled>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <quill-editor [styles]="{height: '200px'}" placeholder="Observación" [modules]="config" [(ngModel)]="mensaje" required>
                    </quill-editor>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input cursor-pointer" id="fileInput" (change)="changeArchivo($event, labelInput)">
                                    <label #labelInput class="custom-file-label" id="labelText" data-browse="Buscar" for="fileInput">Buscar archivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-3">
                            <input [(ngModel)]="fileName" type="text" class="form-control" placeholder="Nombre del archivo">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-info" (click)="subirArchivo(labelInput)">Subir</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="progreso > 0">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100" [style.width]=" progreso+'%'">
                                {{progreso}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <table class="table table-bordered">
                        <caption style="caption-side:top;">DOCUMENTOS DE SUSTENTO DEL CREDITO</caption>
                        <thead>
                            <tr class="text-center">
                                <th scope="col" width="5%">#</th>
                                <th scope="col">Archivo</th>
                                <th scope="col" width="10%">Original</th>
                                <th scope="col" width="10%">Impresión</th>
                                <th scope="col" width="10%">Laserfiche</th>
                                <th scope="col" width="10%">Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listaChekList; let i = index" class="text-center">
                                <th scope="row">{{ i+1 }}</th>
                                <td style="text-align: left;">{{ item.descripcion }}</td>
                                <td>
                                    <label class="switch switch-text switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="SI" data-off="NO"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch switch-text switch-warning">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="SI" data-off="NO"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch switch-text switch-danger">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="SI" data-off="NO"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>
                                <td>
                                    <button class="btn btn-sm bg-success"><i class="fa fa-search"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row" *ngIf="!credito">
            <div class="col-12 text-center">
                <h5>No hay información</h5>
            </div>
        </div>
    </div>
</div>
