<div class="modal-content" [formGroup]="formEtapa">
    <div class="modal-header">
        <h4 class="modal-title">{{ create ? 'Nuevo' : 'Editar' }} Etapa</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Código:</label>
                    <input Uppercase type="text" class="form-control" formControlName="codigo" [ngClass]="
                    {
                    'is-invalid': formEtapa.controls['codigo'].touched && formEtapa.controls['codigo'].errors,
                    'is-valid': formEtapa.controls['codigo'].touched && !formEtapa.controls['codigo'].errors
                    }
                    ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formEtapa.get('codigo').hasError('required')"> El campo código es obligatorio.</span>
                        <span class="d-block" *ngIf="formEtapa.get('codigo').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input Uppercase type="text" class="form-control" formControlName="nombre" (keyup)="generateCode($event)" [ngClass]="
                    {
                    'is-invalid': formEtapa.controls['nombre'].touched && formEtapa.controls['nombre'].errors,
                    'is-valid': formEtapa.controls['nombre'].touched && !formEtapa.controls['nombre'].errors
                    }
                    ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formEtapa.get('nombre').hasError('required')"> El campo nombre es obligatorio.</span>
                        <span class="d-block" *ngIf="formEtapa.get('nombre').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Desde:</label>
                    <input NumberInteger type="text" class="form-control" formControlName="desde" (change)="validarDesde()" [ngClass]="
                    {
                    'is-invalid': formEtapa.controls['desde'].touched && formEtapa.controls['desde'].errors,
                    'is-valid': formEtapa.controls['desde'].touched && !formEtapa.controls['desde'].errors
                    }
                    ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formEtapa.get('desde').hasError('required')"> El campo desde es obligatorio.</span>
                        <span class="d-block" *ngIf="formEtapa.get('desde').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Haste:</label>
                    <input NumberInteger type="text" class="form-control" formControlName="hasta" (change)="validarHasta()" [ngClass]="
                    {
                    'is-invalid': formEtapa.controls['hasta'].touched && formEtapa.controls['hasta'].errors,
                    'is-valid': formEtapa.controls['hasta'].touched && !formEtapa.controls['hasta'].errors
                    }
                    ">
                    <div class="invalid-feedback">
                        <span class="d-block" *ngIf="formEtapa.get('hasta').hasError('required')"> El campo hasta es obligatorio.</span>
                        <span class="d-block" *ngIf="formEtapa.get('hasta').hasError('maxlength')">El número máximo de caracteres es 100.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pistas de Auditoria</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Creación:</label>
                    <input type="text" class="form-control" formControlName="fechaCreacion">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuario Creador:</label>
                    <input type="text" class="form-control" formControlName="userCreate">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Actualización:</label>
                    <input type="text" class="form-control" formControlName="fechaActualizacion">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuario Actualiza:</label>
                    <input type="text" class="form-control" formControlName="userUpdate">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button [disabled]="formEtapa.invalid" *ngIf="create" type="button" class="btn btn-outline-info mr-2" (click)="guardar()">Guardar</button>
        <button [disabled]="formEtapa.invalid" *ngIf="!create" type="button" class="btn btn-outline-info mr-2" (click)="actualzar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    </div>
</div>
