<div class="container-fluid vh-100 " style="background: #00c2de;">
  <div class="row p-0" style="height: 100%; justify-content: center; align-items: center">
    <div class="vp-width fadeInDown">
      <div class="p-3 bg-white mt-3 border-5 fadeIn first" *ngIf="showValidar">
        <h4 class="text-center vp-title">Recuperación de la cuenta</h4>
        <span
          class="vp-subtitle">Esta pregunta permite demostrar que realmente eres el propietario de esta cuenta</span>
        <form [formGroup]="formValidar" (ngSubmit)="generarCodigo()">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="form-group">
                <label>Correo Electrónico*</label>
                <input class="form-control" placeholder="Ingrese su correo Electrónico." formControlName="email">
                <div *ngIf="formValidar.get('email').hasError('pattern') && formValidar.get('email').touched"
                     class="alert alert-danger mb-2">
                  <div>Por favor ingresa un correo electrónico válido</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <p class="text-center font-size-12">Obtener un código de verificación</p>
              <p class="font-size-12 text-justify">Para obtener un código de verificación, primero confirme su correo
                electrónico.
                Se le enviará el código de 6 digitos al número de teléfono asociada a tu cuenta.</p>
              <a [routerLink]="['/login']" class="float-right text-info">Ir Login</a>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-primary" [disabled]="formValidar.invalid">Enviar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="p-3 bg-white mt-3 border-5 fadeIn first" *ngIf="showPin">
        <h4 class="text-center vp-title">Recuperación de la cuenta</h4>
        <span
          class="vp-subtitle">Ingrese el código de restauración que se le envió a su teléfono.</span>
        <form [formGroup]="formPin" (ngSubmit)="validarPin()">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="form-group">
                <label>Código Restauración*</label>
                <input class="form-control" placeholder="Ingrese su código de restauración" formControlName="pin"
                       maxlength="6">
                <div *ngIf="formPin.get('pin').hasError('required') && formPin.get('pin').touched"
                     class="alert alert-danger mb-2">
                  <div>Por favor ingresa un código.</div>
                </div>
                <div *ngIf="formPin.get('pin').hasError('minlength') && formPin.get('pin').touched"
                     class="alert alert-danger mb-2">
                  <div>Por favor ingresa un código válido.</div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4 w-100 d-flex justify-content-between">
              <a (click)="solictarNuevoCodigo()" class="float-right text-info cursor-pointer">Solicite un nuevo
                código</a>
              <a [routerLink]="['/login']" class="float-right text-info">Ir Login</a>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-primary" [disabled]="formPin.invalid">Enviar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="p-3 bg-white mt-3 border-5 fadeIn first" *ngIf="showChange">
        <h4 class="text-center vp-title">Recuperación de la cuenta</h4>
        <span
          class="vp-subtitle">Ingrese la nueva contraseña para su cuenta.</span>
        <form [formGroup]="formRestaurar" (ngSubmit)="actualizarPassword()">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Contraseña*</label>
                <input type="password" id="password" placeholder="Ingresar contraseña" class="form-control"
                       formControlName="password" autocomplete="off"
                       [ngClass]="
                    {
                    'is-invalid': formRestaurar.controls['password'].touched && formRestaurar.controls['password'].errors,
                    'is-valid': formRestaurar.controls['password'].touched && !formRestaurar.controls['password'].errors
                     }
                    ">
                <div class="invalid-feedback">
                  <span
                    *ngIf="formRestaurar.get('password').hasError('required')"> El contraseña es obligatorio. <br></span>
                  <span *ngIf="formRestaurar.get('password').hasError('pattern')"> La contraseña debe contener: Mayusculas, Minúsculas, Números y Caracteres especiales (.,-*!#$%)</span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="confirmPassword">Confirmar Contraseña*</label>
                <input type="password" id="confirmPassword" placeholder="Confirmar contraseña" class="form-control"
                       formControlName="confirmPassword" autocomplete="off"
                       [ngClass]="
                    {
                    'is-invalid': formRestaurar.controls['confirmPassword'].touched && formRestaurar.controls['confirmPassword'].errors,
                    'is-valid': formRestaurar.controls['confirmPassword'].touched && !formRestaurar.controls['confirmPassword'].errors
                     }
                    ">
                <div class="invalid-feedback">
                  <span *ngIf="formRestaurar.get('confirmPassword').hasError('required')"> El campo confirmar contraseña es obligatorio. <br></span>
                  <span *ngIf="formRestaurar.get('confirmPassword').hasError('passwordMismatch')">Las contraseñas no coinciden. <br></span>
                  <span *ngIf="formRestaurar.get('password').hasError('pattern')"> La contraseña debe contener: Mayusculas, Minúsculas, Números y Caracteres especiales (.,-*!#$%)</span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <p>Asegúrese de que tenga al menos 8 caracteres, incluido un número, una letra minúscula/mayúscula y
                caracteres (*|!?).</p>
              <div class="col-md-12 mb-4 w-100 d-flex justify-content-between">
                <a (click)="solictarNuevoCodigo()" class="float-right text-info cursor-pointer">Solicite un nuevo
                  código</a>
                <a [routerLink]="['/login']" class="float-right text-info">Ir Login</a>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-primary" [disabled]="formRestaurar.invalid">Actualizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="timer">
  <p class="loading">Espere un momento...</p>
</ngx-spinner>
