<div class="card">
    <div class="card-header">
        <h2 class="card-title text-uppercase">Detalle de cartera no asignada</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="form-inline" [formGroup]="formSearch">
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group d-block">
                                <label class=" d-block">Fecha Inicio</label>
                                <div class="input-group">
                                    <input type="date" formControlName="start" class="form-control" placeholder="Fecha Inicio" name="dpFromDate">

                                </div>
                            </div>
                            <div class="form-group  d-block ml-2">
                                <label class=" d-block">Fecha Fin</label>
                                <div class="input-group">
                                    <input type="date" formControlName="finish" class="form-control" placeholder="Fecha Fin" name="dpToDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-block ml-4">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary mr-4" (click)="search()"> <i class="fa fa-search"></i> Buscar</button>
                        <button (click)="download()" class="btn btn-outline-success" *ngIf="itemsSoles.length > 0 || itemsDolares.length > 0"><i class="fa fa-file-excel-o"></i> Exportar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <ul id="myUL">
                        <li *ngIf="itemsSoles.length > 0 ">
                            <span class="caret">Soles</span>
                            <ul class="nested tabla">
                                <li>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="col-12" *ngIf="itemsSoles.length > 0">
                                                <div class="form-group">
                                                    <div class="">
                                                        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-responsive">
                                                            <thead>
                                                                <tr class="text-center">
                                                                    <th>#</th>
                                                                    <th>Kardex</th>
                                                                    <th>Código del Socio</th>
                                                                    <th>Nombres del Socio</th>
                                                                    <th>Apellidos del Socio</th>
                                                                    <th>Tipo Doc. Socio</th>
                                                                    <th>Número Doc. Socio</th>
                                                                    <th>Monto por cobrar (S/)</th>
                                                                    <th>Fecha ulitma cuota vencida</th>
                                                                    <th>Fecha del proximo vencimiento</th>
                                                                    <th>Dias de atraso</th>
                                                                    <th>División</th>
                                                                    <th>Banca</th>
                                                                    <th>Tipo de producto</th>
                                                                    <th>Último Gestor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="text-center" *ngFor="let item of itemsSoles; let i = index">
                                                                    <td>{{ i+1 }}</td>
                                                                    <td>{{ item.kardex }}</td>
                                                                    <td>{{ item.socioCodigo }}</td>
                                                                    <td>{{ item.socioNombres }}</td>
                                                                    <td>{{ item.socioApellidos }}</td>
                                                                    <td>{{ item.tipoDocumentoSocio }}</td>
                                                                    <td>{{ item.numeroDocumentoSocio }}</td>
                                                                    <td>{{ item.montoCobrar | currency: item.monedaCodigo }}</td>
                                                                    <td>{{ item.fechaUltimaCuotaVencida }}</td>
                                                                    <td>{{ item.fechaProximoVencimineto }}</td>
                                                                    <td>{{ item.diasAtraso }}</td>
                                                                    <td>{{ item.division }}</td>
                                                                    <td>{{ item.banca }}</td>
                                                                    <td>{{ item.tipoProducto}} </td>
                                                                    <td>{{ item.responsableAnterior }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="itemsDolares.length > 0 ">
                            <span class="caret">Dolares</span>
                            <ul class="nested tabla">
                                <li>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="col-12" *ngIf="itemsDolares.length > 0">
                                                <div class="form-group">
                                                    <div class="">
                                                        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-responsive">
                                                            <thead>
                                                                <tr class="text-center">
                                                                    <th>#</th>
                                                                    <th>Kardex</th>
                                                                    <th>Código del Socio</th>
                                                                    <th>Nombres del Socio</th>
                                                                    <th>Apellidos del Socio</th>
                                                                    <th>Tipo Doc. Socio</th>
                                                                    <th>Número Doc. Socio</th>
                                                                    <th>Monto por cobrar (S/)</th>
                                                                    <th>Fecha ulitma cuota vencida</th>
                                                                    <th>Fecha del proximo vencimiento</th>
                                                                    <th>Dias de atraso</th>
                                                                    <th>División</th>
                                                                    <th>Banca</th>
                                                                    <th>Tipo de producto</th>
                                                                    <th>Último Gestor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="text-center" *ngFor="let item of itemsSoles; let i = index">
                                                                    <td>{{ i+1 }}</td>
                                                                    <td>{{ item.kardex }}</td>
                                                                    <td>{{ item.socioCodigo }}</td>
                                                                    <td>{{ item.socioNombres }}</td>
                                                                    <td>{{ item.socioApellidos }}</td>
                                                                    <td>{{ item.tipoDocumentoSocio }}</td>
                                                                    <td>{{ item.numeroDocumentoSocio }}</td>
                                                                    <td>{{ item.montoCobrar | currency: item.monedaCodigo }}</td>
                                                                    <td>{{ item.fechaUltimaCuotaVencida }}</td>
                                                                    <td>{{ item.fechaProximoVencimineto }}</td>
                                                                    <td>{{ item.diasAtraso }}</td>
                                                                    <td>{{ item.division }}</td>
                                                                    <td>{{ item.banca }}</td>
                                                                    <td>{{ item.tipoProducto}} </td>
                                                                    <td>{{ item.responsableAnterior }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>