<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-6 col-md-8">
        <h3 class="m-0">Comportamiento de pago</h3>
      </div><!-- /.col -->
      <div class="col-6 col-md-4">
        <label>Carteras</label>
        <div class="input-group mb-3">
          <select class="form-control" [(ngModel)]="selectCartera">
            <option *ngFor="let item of carteras" [value]="item.codCartera">{{ item.nombre }}</option>
          </select>
          <div class="input-group-prepend">
            <button type="button" (click)="listarProductosAbaco(selectCartera)" class="btn btn-info"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="row">
  <div class="col-12">
    <div class="card" *ngIf="productos.length > 0">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Leyenda</label>
              <ul class="leyenda">
                <li class="leyenda-item">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Puntual</div>
                  </div>
                </li>
                <li class="leyenda-item">
                  <div class="progress">
                    <div class="progress-bar bg-yellow" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Imputual</div>
                  </div>
                </li>
                <li class="leyenda-item">
                  <div class="progress">
                    <div class="progress-bar bg-danger-dark" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Con atraso</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6" *ngFor="let item of productos">
            <div class="form-group text-center">
              <label class="font-weight-bold">{{ item.producto }} - total: {{  item.total }}</label>
              <div class="progress" style="height: 25px">
                <div class="progress-bar bg-success" role="progressbar" style="width: 33.33%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">{{ calcularPorcentaje(item.greenCantidad, item.total) }}%</div>
                <div class="progress-bar bg-yellow" role="progressbar" style="width: 33.33%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">{{ calcularPorcentaje(item.yellowCantidad, item.total) }}%</div>
                <div class="progress-bar bg-danger-dark" role="progressbar" style="width: 33.33%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100">{{ calcularPorcentaje(item.redCantidad, item.total) }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
