<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>
    <span class="card-title text-uppercase font-weight-bold">Lista de creditos</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col" width="5%">#</th>
            <th scope="col" width="40%">Socio</th>
            <th scope="col">Fecha Vencimiento</th>
            <th scope="col">Saldo</th>
            <th scope="col" width="10%">Opción</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of creditos; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ item.socioId }}</td>
            <td>{{ item.fechaVencimiento | date : 'dd/MM/yyyy' }}</td>
            <td>{{ item.saldoCapital }}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary mr-2" (click)="showSocio(item)"><i class="fa fa-user"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
