<div class="card">
    <div class="card-header">
        <h2 class="card-title text-uppercase">Resumen de resultados por fecha de vencimiento</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="form-inline" [formGroup]="formSearch">
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group d-block">
                                <label class=" d-block">Fecha Inicio</label>
                                <div class="input-group">
                                    <input type="date" formControlName="start" class="form-control" placeholder="Fecha Inicio" name="dpFromDate">

                                </div>
                            </div>
                            <div class="form-group  d-block ml-2">
                                <label class=" d-block">Fecha Fin</label>
                                <div class="input-group">
                                    <input type="date" formControlName="finish" class="form-control" placeholder="Fecha Fin" name="dpToDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-block ml-4">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary mr-4" (click)="search()"> <i class="fa fa-search"></i> Buscar</button>
                        <button (click)="download()" class="btn btn-outline-success" *ngIf="itemsSoles.length > 0 || itemsDolares.length > 0"><i class="fa fa-file-excel-o"></i> Exportar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>