<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <button class="btn btn-sm btn-primary" (click)="showModalCreate()" *ngIf="AS.has(code+'_crear')">Nuevo</button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr class="text-center">
              <th style="width: 5%">#</th>
              <th style="width: 5%">Código</th>
              <th style="width: 30%">Descripción</th>
              <th style="width: 25%">Valor</th>
              <th style="width: 15%">Valor Entero</th>
              <th style="width: 10%">Estado</th>
              <th style="width: 10%">Opción</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="items.length > 0">
              <tr class="text-center" *ngFor="let item of items; let i = index">
                <td>{{ i + 1 }}</td>
                <td> {{ item.codItem }} </td>
                <td style="text-align: left">{{ item.descripcion }}</td>
                <td>{{ item.strValor }}</td>
                <td>{{ item.intValor }}</td>
                <td>
                  <span *ngIf="item.codEstado == '1'" class="badge bg-success">Activo</span>
                  <span *ngIf="item.codEstado == '0'" class="badge bg-danger">Inactivo</span>
                </td>
                <td>
                  <button class="btn btn-sm btn-primary mr-2" *ngIf="AS.has(code+'_actualizar')" (click)="showModalEdit(item)"><i class="fa fa-edit"></i></button>
                  <button *ngIf="item.codEstado == '1' && AS.has(code+'_eliminar')" (click)="cambiarEstado(item, 1)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                  <button *ngIf="item.codEstado == '0' && AS.has(code+'_eliminar')" (click)="cambiarEstado(item, 0)" class="btn btn-sm btn-success"><i class="fa fa-check"></i></button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="items.length == 0">
              <tr class="text-center">
                <td colspan="7"><small>No hay Datos</small></td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
