<div id="contenedor">
  <div class="login">
    <div class="post-loader"></div>
    <div class="login__container-left login__background">
      <div class="login-left__text">
        <div class="login-left__text-center">
          <p class="login-left__testimony u-fs-ligth"></p>
          <p class="login-left__testimony-author u-fs-bold"></p>
          <p class="login-left__testimony-role"></p>
        </div>
      </div>
    </div>
    <div class="login__container-right">
      <div class="login__background-blue"></div>
      <div class="login__inner shadow-container">
        <form [formGroup]="formGroup" class="login__form" (ngSubmit)="login()">
          <app-loading></app-loading>
          <div class="display-4">Bienvenido(a)</div>
          <br/>
          <br/>
          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control form-control-lg" formControlName="email"
                   placeholder="Correo electrónico" autocomplete="email">
          </div>
          <div *ngIf="formGroup.get('email').hasError('pattern') && formGroup.get('email').touched"
               class="alert alert-danger mb-2">
            <div>Por favor ingresa un correo electrónico válido</div>
          </div>
          <div *ngIf="formGroup.get('email').hasError('validate')" class="alert alert-danger mb-2">
            <div>Las credenciales de inicio de sesión son incorrectas.</div>
          </div>
          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            <input type="password" class="form-control form-control-lg" formControlName="password"
                   placeholder="Contraseña" autocomplete="current-password">
          </div>
          <div *ngIf="!formGroup.get('password').valid && formGroup.get('password').touched"
               class="alert alert-danger mb-2">
            <div>Por favor ingresa una contraseña válida</div>
          </div>
          <div class="input-group input-group-lg mb-2 d-flex justify-content-end">
            <a [routerLink]="['/restablecimiento-credenciales']" class="text-info">¿Has olvidado tu contraseña?</a>
          </div>
          <br/>
          <div class="input-group input-group-lg mb-2">
            <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary btn-lg active btn-block">
              Ingresar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
