<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button class="btn btn-sm btn-primary" (click)="showModalCreate()" >Nuevo</button>
                </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th scope="col" width="50px">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Límite</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of notificaciones; let i = index" class="text-center">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.limiteCaracteres }}</td>
                                <td>{{ item.estado == '1' ? 'Activo' : 'Desactivado' }}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary mr-2" placement="top" ngbTooltip="Editar" (click)="edit(item)"><i class="fa fa-edit"></i></button>
                                    <button *ngIf="item.estado == '1'" placement="top" ngbTooltip="Desactivar" class="btn btn-sm btn-danger" (click)="actualizarEstado(item, 0)"><i class="fa fa-trash"></i></button>
                                    <button *ngIf="item.estado == '0'" placement="top" ngbTooltip="Activar" class="btn btn-sm btn-success" (click)="actualizarEstado(item, 1)"><i class="fa fa-check"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>
