<div class="modal-content">
  <div class="modal-header justify-content-center">
    <h4 class="modal-title">Generar Crompromiso de Pago</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="form-group" *ngIf="info">
          <span>IP: <b>{{ info.ipAddress }}</b></span><br>
          <span *ngIf="info.address">Dirección: <b>{{ info.address }}</b></span><br>
          <span *ngIf="info.latitude">Latitud: <b>{{ info.latitude }}</b></span><br>
          <span *ngIf="info.longitude">Longitud: <b>{{ info.longitude }}</b></span>
        </div>
      </div>
        <div class="col-12">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="typeAcuerdo">
              <option [value]="0">Seleccione</option>
              <option [value]="1">AL DÍA</option>
              <option [value]="2">PLAN DE PAGO</option>
              <option [value]="3">TOTAL DE LA MORA</option>
              <option [value]="4">ABONO</option>
            </select>
          </div>
        </div>
        <ng-container *ngIf="typeAcuerdo == 1  || typeAcuerdo == 3 || typeAcuerdo == 4" [formGroup]="formRegistrarAcuerdo">
          <div class="col-12">
            <div class="row">
              <div class="col-12" *ngIf="errors.length > 0">
                <div class="form-group">
                  <div class="alert alert-danger" role="alert" *ngFor="let value of errors">
                    <span><b>.</b> {{ value }}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7">
                <div class="form-group">
                  <label>Monto Acordado</label>
                  <input CustomizeCurrency type="text" class="form-control" formControlName="montoAcordado">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="form-group">
                  <label>Posibilidad Pagar</label>
                  <select class="form-control" formControlName="posibilidadPago">
                    <option value="">Seleccione</option>
                    <option value="1">Alto</option>
                    <option value="2">Medio</option>
                    <option value="3">Bajo</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-7">
                <div class="form-group">
                  <label>Fecha</label>
                  <input type="date" class="form-control" formControlName="fechaInicio">
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="form-group">
                  <label>Hora</label>
                  <input type="time" class="form-control" min="07:00" max="20:00" formControlName="horaIncio">
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="typeAcuerdo == 2" [formGroup]="formPlanPago">
          <div class="col-12">
            <div class="row">
              <div class="col-12" *ngIf="errors.length > 0">
                <div class="form-group">
                  <div class="alert alert-danger" role="alert" *ngFor="let value of errors">
                    <span><b>.</b> {{ value }}</span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Nombre del plan</label>
                  <input SoloLetras Uppercase type="text" class="form-control" formControlName="descripcion">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>Número de cuotas</label>
                  <input Number type="text" class="form-control" formControlName="plazo">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>Valor de cuotas</label>
                  <input CustomizeCurrency type="text" class="form-control" formControlName="montoAcordado">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>Intervalo cuotas (Días)</label>
                  <input Number type="text" class="form-control" formControlName="intervalo">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>Fecha inicio</label>
                  <input type="date" class="form-control" formControlName="fechaInicio">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Posibilidad Pagar</label>
                  <select class="form-control" formControlName="posibilidadPago">
                    <option value="">Seleccione</option>
                    <option value="1">Alto</option>
                    <option value="2">Medio</option>
                    <option value="3">Bajo</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="enviar()">Enviar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cerrar</button>
  </div>
</div>
