<ng-container *ngIf="tarjeta">
  <div class="row">
    <div class="col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <h6>{{ tarjeta.ejecutivo.alias }} - <b>{{ tarjeta.nombre }}</b></h6>
        </li>
        <li class="breadcrumb-menu d-md-down-none">
          <div aria-label="Button group with nested dropdown" class="btn-group" role="group">
            <ng-container *ngIf="tarjeta.visibilidad == '01'; else unlock">
              <span class="btn"><i class="fa fa-lock"></i> Visible Privada</span>
            </ng-container>
            <ng-template #unlock>
              <span class="btn"><i class="fa fa-unlock"></i> Visible Publica</span>
            </ng-template>

          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <span>Lista de tareas</span>
          <select class="form-control" (change)="changeEnLista($event)">
            <option value="">Todos</option>
            <option *ngFor="let credito of $creditos" [value]="credito.id"> {{ credito.nroCredito }}</option>
          </select>
          <!--div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool text-white"><i class="fa fa-times"></i></button>
          </div-->
        </div>
        <div class="card-body">
          <div class="container-list-tasks">
            <div class="list-group" dndDropzone dndEffectAllowed="copyMove" (dndDrop)="onDrop($event, '01', $tareasLista)">
              <div dndPlaceholderRef class="dndPlaceholder mb-2"></div>
              <ng-container *ngIf="$tareasLista.length > 0">
                <a href="javascript:;" *ngFor="let item of $tareasLista;"
                   [dndDraggable]="item"
                   [dndEffectAllowed]="'move'"
                    [dndDisableIf]="item.estado!='1'"
                   (dndStart)="onDragStart($event)"
                   (dndCopied)="onDragged(item, $tareasLista, 'copy')"
                   (dndLinked)="onDragged(item, $tareasLista, 'link')"
                   (dndMoved)="onDragged(item, $tareasLista, 'move')"
                   (dndCanceled)="onDragged(item, $tareasLista, 'none')"
                   (dndEnd)="onDragEnd($event)" class="list-group-item list-group-item-action mb-2 {{ item.estado == '1' ? 'list-group-item-secondary' : 'list-group-item-danger' }}"  style="padding-bottom: 0.5rem !important;">
                  <div class="item-container">
                    <div class="item-body">
                      <div class="item-body-header">
                        <div class="div">
                          <div class="item-title">{{ item.nombre }}</div>
                          <small> Cred: {{ getCodCredito(item.creditoId) }} -
                            <span *ngIf="item.socio"> {{ item.socio.alias | slice:0:25 }} {{ item.socio.alias.length > 25 ? '...' : '' }}</span>
                          </small>
                        </div>
                        <div class="item-tools" *ngIf="menuS.hasShowTarea(A.TAREA_SHOW_TAREA)">
                          <div class="btn btn-sm btn-outline-primary" (click)="showDetail(item)"><i class="fa fa-eye"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="item-footer">
                      <ul>
                        <li *ngIf="item.actividades.length > 0" class="mr-2"><i class="fa fa-comment-o"></i> {{ item.actividades.length }}</li>
                        <li *ngIf="item.archivos.length > 0"><i class="fa fa-file-o"></i> {{ item.archivos.length }}</li>
                        <li> <span class="text-{{ getClassPriority(item.prioridad) }} font-weight-bold">{{ getNamePriority(item.prioridad) }}</span> </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </ng-container>
              <ng-container *ngIf="$tareasLista.length == 0">
                <div style="height: 40px"></div>
              </ng-container>
            </div>
          </div>
          <ng-container *ngIf="menuS.hasShowTarea(A.TAREA_ADD_TAREA)">
            <a *ngIf="!newTask" class="open-card-composer cursor-pointer" (click)="newTask = true;">
              <i class="fa fa-plus"></i><span class="box-title"> Añada una Tarea</span>
            </a>
            <ng-container *ngIf="newTask">
              <div class="text-center mt-2">
                <textarea class="form-control" [(ngModel)]="taskName" placeholder="Introduzca un titulo para esta tarea..."></textarea>
                <div class="mt-2">
                  <button class="btn btn-sm btn-outline-info mr-2" (click)="nuevaTarea()">Añadir tarea</button>
                  <button class="btn btn-sm btn-danger" (click)="newTask = false"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <span>En proceso</span>
          <select class="form-control" (change)="changeProceso($event)">
            <option value="">Todos</option>
            <option *ngFor="let credito of $creditos" [value]="credito.id"> {{ credito.nroCredito }}</option>
          </select>
        </div>
        <div class="card-body">
          <div class="container-list-tasks">
            <div class="list-group" dndDropzone  dndEffectAllowed="copyMove" (dndDrop)="onDrop($event, '02',$tareasProceso)">
              <div dndPlaceholderRef class="dndPlaceholder  mb-2"></div>
              <ng-container *ngIf="$tareasProceso.length > 0">
                <a href="javascript:;" *ngFor="let item of $tareasProceso;"
                   [dndDraggable]="item"
                   [dndEffectAllowed]="'move'"
                   [dndDisableIf]="item.estado!='1'"
                   (dndStart)="onDragStart($event)"
                   (dndCopied)="onDragged(item, $tareasProceso, 'copy')"
                   (dndLinked)="onDragged(item, $tareasProceso, 'link')"
                   (dndMoved)="onDragged(item, $tareasProceso, 'move')"
                   (dndCanceled)="onDragged(item, $tareasProceso, 'none')" class="list-group-item list-group-item-action mb-2 {{ item.estado == '1' ? 'list-group-item-primary' : 'list-group-item-danger' }}">
                  <div class="item-container">
                    <div class="item-body">
                      <div class="item-body-header">
                        <div class="div">
                          <div class="item-title">{{ item.nombre }}</div>
                          <small> Cred: {{ getCodCredito(item.creditoId) }} -
                            <span *ngIf="item.socio"> {{ item.socio.alias | slice:0:25 }} {{ item.socio.alias.length > 25 ? '...' : '' }}</span>
                          </small>
                        </div>
                        <div class="item-tools">
                          <div class="btn btn-sm btn-outline-primary" *ngIf="menuS.hasShowTarea(A.TAREA_SHOW_TAREA)" (click)="showDetail(item)"><i class="fa fa-eye"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="item-footer">
                      <ul>
                        <li *ngIf="item.actividades.length > 0" class="mr-2"><i class="fa fa-comment-o"></i> {{ item.actividades.length }}</li>
                        <li *ngIf="item.archivos.length > 0"><i class="fa fa-file-o"></i> {{ item.archivos.length }}</li>
                        <li> <span class="text-{{ getClassPriority(item.prioridad) }} font-weight-bold">{{ getNamePriority(item.prioridad) }}</span> </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </ng-container>
              <ng-container *ngIf="$tareasProceso.length ==0">
                <div style="height: 40px"></div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <span>Terminado</span>
          <select class="form-control" (change)="changeTerminado($event)">
            <option value="">Todos</option>
            <option *ngFor="let credito of $creditos" [value]="credito.id"> {{ credito.nroCredito }}</option>
          </select>
        </div>
        <div class="card-body">
          <div class="container-list-tasks">
            <div class="list-group" dndDropzone dndEffectAllowed="copyMove" (dndDrop)="onDrop($event, '03', $tareasTerminadas)">
              <div dndPlaceholderRef class="dndPlaceholder  mb-2"></div>
              <ng-container *ngIf="$tareasTerminadas.length > 0">
                <a href="javascript:;" *ngFor="let item of $tareasTerminadas;"
                   [dndDraggable]="item"
                   [dndEffectAllowed]="'move'"
                  [dndDisableIf]="item.estado!='1'"
                   (dndStart)="onDragStart($event)"
                   (dndCopied)="onDragged(item, $tareasTerminadas, 'copy')"
                   (dndLinked)="onDragged(item, $tareasTerminadas, 'link')"
                   (dndMoved)="onDragged(item, $tareasTerminadas, 'move')"
                   (dndCanceled)="onDragged(item, $tareasTerminadas, 'none')" class="list-group-item list-group-item-action mb-2 {{ item.estado == '1' ? 'list-group-item-success' : 'list-group-item-danger' }}">
                  <div class="item-container">
                    <div class="item-body">
                      <div class="item-body-header">
                        <div class="div">
                          <div class="item-title">{{ item.nombre }}</div>
                          <small> Cred: {{ getCodCredito(item.creditoId) }} -
                            <span *ngIf="item.socio"> {{ item.socio.alias | slice:0:20 }} {{ item.socio.alias.length > 20 ? '...' : '' }}</span>
                          </small>
                        </div>
                        <div class="item-tools">
                          <div class="btn btn-sm btn-outline-success" *ngIf="menuS.hasShowTarea(A.TAREA_SHOW_TAREA)" (click)="showDetail(item)"><i class="fa fa-eye"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="item-footer">
                      <ul>
                        <li *ngIf="item.actividades.length > 0" class="mr-2"><i class="fa fa-comment-o"></i> {{ item.actividades.length }}</li>
                        <li *ngIf="item.archivos.length > 0"><i class="fa fa-file-o"></i> {{ item.archivos.length }}</li>
                        <li> <span class="text-{{ getClassPriority(item.prioridad) }} font-weight-bold">{{ getNamePriority(item.prioridad) }}</span> </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </ng-container>
              <ng-container *ngIf="$tareasTerminadas.length ==0">
                <div style="height: 40px"></div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-loading></app-loading>

