.open-card-composer {
  border-radius: 3px;
  background: #5e6c84;
  color: white;
  display: block;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
}

.open-card-composer i, .open-card-composer span {
  color: white;
}


.draggable {

  margin: 16px;
  padding: 16px;
  box-shadow: 0 0 5px 2px rgba(22, 22, 22, 0.4);
}

.draggable.dndDraggingSource {

  /* display:none; */

  opacity: 0.5;
}

.dropzone {

  margin: 16px;
  padding: 16px;
  border: 1px red solid;
}

.dropzone.dndDragover {

  border-color: green;
}

:host {
  display: block;
  box-sizing: border-box;
}

pre {
  text-align: center;
  padding: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.mat-list-item {
  margin: 2px;
  border: 1px solid gray;
}

.dndList {
  transition: all 300ms ease;
}

.dndList.dndDragover {
  padding-top: 12px;
  padding-bottom: 12px;
}

.dndDragging {
  border: 1px solid green;
}

.dndDraggingSource {
  display: none;
}

.dndPlaceholder {
  min-height: 40px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

.item-container {

}

.item-body {

}

.item-footer {

}

.item-footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}

.item-footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.item-footer ul li i {

}

.list-group-item {
  padding: 0.5rem 0.5rem 0 !important;
}

.item-body .item-body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-body .item-body-header .item-title{

}
.item-body .item-body-header .item-tools{

}

.container-list-tasks {
  max-height: 410px;
  overflow-y: auto;
}
