// If you want to override variables do it here
@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";
// If you want to add something do it here
@font-face {
    font-family: "abacashFont";
    src: url(../assets/fuente-abacash/WorkSans-Regular.ttf) format("truetype");
}

@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ng-wizard/themes/ng_wizard.min.css';

/* Optional */


/* If a theme other than default is used, the css file for that theme is required. */

@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';
body {
    font-family: "abacashFont", Arial, serif;
}

.mr-5px {
    margin-right: 5px;
}

.mb-5px {
    margin-bottom: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.loading {
    color: white;
    padding-top: 50px;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-20 {
    font-size: 20px;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.form-control.is-warning {
    border-color: #ffc107;
}

.form-control.is-warning:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.25);
}

.color-is-warning {
    color: #ffc107;
}

.hidden {
    display: none;
}

@media (min-width: 992px) {
    .sidebar-fixed .sidebar {
        width: 300px;
    }
}

.sidebar .nav {
    width: 300px;
}

.sidebar .sidebar-nav {
    width: 300px;
}

@media (min-width: 992px) {
    html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main,
    html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer,
    html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main,
    html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer {
        margin-left: 300px;
    }
}

.app-header .navbar-brand {
    width: 250px;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 300px;
    }
}

html:not([dir=rtl]) .sidebar {
    margin-left: -300px;
}

.section-credito-socio .btn-social-icon {
    color: white !important;
    cursor: pointer;
}


/*
 * Component: Box
 * --------------
 */

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box.box-info {
    border-top-color: #00c0ef;
}

.box.box-danger {
    border-top-color: #dd4b39;
}

.box.box-warning {
    border-top-color: #f39c12;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-default {
    border-top-color: #d2d6de;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none;
}

.box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}

.box .nav-stacked>li:last-of-type {
    border-bottom: none;
}

.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.box .border-left {
    border-left: 1px solid #f4f4f4;
}

.box.box-solid {
    border-top: 0;
}

.box.box-solid>.box-header .btn.btn-default {
    background: transparent;
}

.box.box-solid>.box-header .btn:hover,
.box.box-solid>.box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}

.box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de;
}

.box.box-solid.box-default>.box-header a,
.box.box-solid.box-default>.box-header .btn {
    color: #444;
}

.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}

.box.box-solid.box-primary>.box-header a,
.box.box-solid.box-primary>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}

.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}

.box.box-solid.box-info>.box-header a,
.box.box-solid.box-info>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}

.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39;
}

.box.box-solid.box-danger>.box-header a,
.box.box-solid.box-danger>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}

.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
}

.box.box-solid.box-warning>.box-header a,
.box.box-solid.box-warning>.box-header .btn {
    color: #fff;
}

.box.box-solid.box-success {
    border: 1px solid #00a65a;
}

.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}

.box.box-solid.box-success>.box-header a,
.box.box-solid.box-success>.box-header .btn {
    color: #fff;
}

.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
}

.box.box-solid[class*='bg']>.box-header {
    color: #fff;
}

.box .box-group>.box {
    margin-bottom: 5px;
}

.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}

.box>.overlay,
.overlay-wrapper>.overlay,
.box>.loading-img,
.overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.box .overlay>.fa,
.overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
    border-bottom: none;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    margin-right: 5px;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
}

.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.box-header>.box-tools .dropdown-menu>li>a {
    color: #444 !important;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84;
}

.btn-box-tool.btn:active {
    box-shadow: none;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.box-body>.table {
    margin-bottom: 0;
}

.box-body .fc {
    margin-top: 5px;
}

.box-body .full-width-chart {
    margin: -19px;
}

.box-body.no-padding .full-width-chart {
    margin: -9px;
}

.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.chart-legend {
    margin: 10px 0;
}

@media (max-width: 991px) {
    .chart-legend>li {
        float: left;
        margin-right: 10px;
    }
}

.box-comments {
    background: #f7f7f7;
}

.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.box-comments .box-comment:before,
.box-comments .box-comment:after {
    content: " ";
    display: table;
}

.box-comments .box-comment:after {
    clear: both;
}

.box-comments .box-comment:last-of-type {
    border-bottom: 0;
}

.box-comments .box-comment:first-of-type {
    padding-top: 0;
}

.box-comments .box-comment img {
    float: left;
}

.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}

.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}

.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px;
}


/* Widget: TODO LIST */

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.todo-list>li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}

.todo-list>li:last-of-type {
    margin-bottom: 0;
}

.todo-list>li>input[type='checkbox'] {
    margin: 0 10px 0 5px;
}

.todo-list>li .text {
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

.todo-list>li .label {
    margin-left: 10px;
    font-size: 9px;
}

.todo-list>li .tools {
    display: none;
    float: right;
    color: #dd4b39;
}

.todo-list>li .tools>.fa,
.todo-list>li .tools>.glyphicon,
.todo-list>li .tools>.ion {
    margin-right: 5px;
    cursor: pointer;
}

.todo-list>li:hover .tools {
    display: inline-block;
}

.todo-list>li.done {
    color: #999;
}

.todo-list>li.done .text {
    text-decoration: line-through;
    font-weight: 500;
}

.todo-list>li.done .label {
    background: #d2d6de !important;
}

.todo-list .danger {
    border-left-color: #dd4b39;
}

.todo-list .warning {
    border-left-color: #f39c12;
}

.todo-list .info {
    border-left-color: #00c0ef;
}

.todo-list .success {
    border-left-color: #00a65a;
}

.todo-list .primary {
    border-left-color: #3c8dbc;
}

.todo-list .handle {
    display: inline-block;
    cursor: move;
    margin: 0 5px;
}

ng-wizard ul.nav.nav-tabs.step-anchor {
    display: flex;
    justify-content: center;
}

.ng-wizard-theme-circles>ul.step-anchor>li>a {
    padding: 30px 0;
    color: black;
    font-weight: bold;
}

.ng-wizard-theme-circles>ul.step-anchor {
    margin-bottom: 20px;
}

.todo-list>li .text {
    font-size: 16px;
}


/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lista-etapas {
    margin: 0;
    padding: 0 18px;
    font-size: 12px;
}

app-dashboard {
    min-height: inherit;
}

.bg-danger-dark {
    color: white;
    background-color: #dc3545 !important;
}

.bg-orange {
    background-color: #ff9600 !important;
}

.bg-yellow {
    background-color: #ffea00 !important;
}

.bg-info-ligth {
    background-color: var(--light-blue);
}

.bg-brown {
    background-color: #61473e !important;
    color: white !important;
}

.bg-brown-ligth {
    background-color: #987062 !important;
    color: white !important;
}

.leyenda {
    min-width: 258px;
    max-width: 300px;
    list-style: none;
    padding: 0;
}

.leyenda .leyenda-item {
    margin-bottom: 10px;
}

.leyenda .leyenda-item .progress {
    height: 30px;
}

.leyenda .leyenda-item .progress .progress-bar {
    font-size: 15px;
    font-weight: 600;
}


/*****************************/

@mixin switch-size($width, $height, $font-size, $handle-margin) {
    width: $width;
    height: $height;
    .switch-label {
        font-size: $font-size;
    }
    .switch-handle {
        width: $height - $handle-margin * 2;
        height: $height - $handle-margin * 2;
    }
    .switch-input:checked~.switch-handle {
        left: $width - $height + $handle-margin;
    }
}

@mixin switch($type, $width, $height, $font-size, $handle-margin) {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: $width;
    height: $height;
    background-color: transparent;
    cursor: pointer;
    .switch-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .switch-label {
        position: relative;
        display: block;
        height: inherit;
        @if $type==icon {
            font-family: FontAwesome;
        }
        font-size: $font-size;
        font-weight: 600;
        text-transform: uppercase;
        @if $type==ddd {
            background-color: $gray-100;
        }
        @else {
            background-color: #fff;
        }
        border: 1px solid $border-color;
        border-radius: 2px;
        transition: opacity background .15s ease-out;
    }
    @if $type==text or $type==icon {
        .switch-label::before,
        .switch-label::after {
            position: absolute;
            top: 50%;
            width: 50%;
            margin-top: -.5em;
            line-height: 1;
            text-align: center;
            transition: inherit;
        }
        .switch-label::before {
            right: 1px;
            color: $gray-200;
            content: attr(data-off);
        }
        .switch-label::after {
            left: 1px;
            color: #fff;
            content: attr(data-on);
            opacity: 0;
        }
    }
    .switch-input:checked~.switch-label {
        //background: $gray-lightest;
    }
    .switch-input:checked~.switch-label::before {
        opacity: 0;
    }
    .switch-input:checked~.switch-label::after {
        opacity: 1;
    }
    .switch-handle {
        position: absolute;
        top: $handle-margin;
        left: $handle-margin;
        width: $height - $handle-margin * 2;
        height: $height - $handle-margin * 2;
        background: #fff;
        border: 1px solid $border-color;
        border-radius: 1px;
        transition: left .15s ease-out;
        @if $type==ddd {
            border: 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        }
    }
    .switch-input:checked~.switch-handle {
        left: $width - $height + $handle-margin + 7;
    }
    @if $type==ddd {
        @extend .switch-pill;
    }
    //size variations
    @if $type==default {
        &.switch-lg {
            @include switch-size($switch-lg-width, $switch-lg-height, $switch-lg-font-size, $handle-margin);
        }
        &.switch-sm {
            @include switch-size($switch-sm-width, $switch-sm-height, $switch-sm-font-size, $handle-margin);
        }
        &.switch-xs {
            @include switch-size($switch-xs-width, $switch-xs-height, $switch-xs-font-size, $handle-margin);
        }
    }
    @else if $type==text {
        &.switch-lg {
            @include switch-size($switch-text-lg-width, $switch-text-lg-height, $switch-text-lg-font-size, $handle-margin);
        }
        &.switch-sm {
            @include switch-size($switch-text-sm-width, $switch-text-sm-height, $switch-text-sm-font-size, $handle-margin);
        }
        &.switch-xs {
            @include switch-size($switch-text-xs-width, $switch-text-xs-height, $switch-text-xs-font-size, $handle-margin);
        }
    }
    @else if $type==icon {
        &.switch-lg {
            @include switch-size($switch-icon-lg-width, $switch-icon-lg-height, $switch-icon-lg-font-size, $handle-margin);
        }
        &.switch-sm {
            @include switch-size($switch-icon-sm-width, $switch-icon-sm-height, $switch-icon-sm-font-size, $handle-margin);
        }
        &.switch-xs {
            @include switch-size($switch-icon-xs-width, $switch-icon-xs-height, $switch-icon-xs-font-size, $handle-margin);
        }
    }
    @else if $type==ddd {
        &.switch-lg {
            @include switch-size($switch-lg-width, $switch-lg-height, $switch-lg-font-size, 0);
        }
        &.switch-sm {
            @include switch-size($switch-sm-width, $switch-sm-height, $switch-sm-font-size, 0);
        }
        &.switch-xs {
            @include switch-size($switch-xs-width, $switch-xs-height, $switch-xs-font-size, 0);
        }
    }
}

@mixin switch-variant($color) {
    >.switch-input:checked~.switch-label {
        background: $color !important;
        border-color: darken($color, 10%);
    }
    >.switch-input:checked~.switch-handle {
        border-color: darken($color, 10%);
    }
}

@mixin switch-outline-variant($color) {
    >.switch-input:checked~.switch-label {
        background: #fff !important;
        border-color: $color;
        &::after {
            color: $color;
        }
    }
    >.switch-input:checked~.switch-handle {
        border-color: $color;
    }
}

@mixin switch-outline-alt-variant($color) {
    >.switch-input:checked~.switch-label {
        background: #fff !important;
        border-color: $color;
        &::after {
            color: $color;
        }
    }
    >.switch-input:checked~.switch-handle {
        background: $color !important;
        border-color: $color;
    }
}

$switch-lg-width: 48px;
$switch-lg-height: 28px;
$switch-lg-font-size: 12px;
$switch-width: 40px;
$switch-height: 24px;
$switch-font-size: 10px;
$handle-margin: 2px;
$switch-sm-width: 32px;
$switch-sm-height: 20px;
$switch-sm-font-size: 8px;
$switch-xs-width: 24px;
$switch-xs-height: 16px;
$switch-xs-font-size: 7px;
$switch-text-lg-width: 56px;
$switch-text-lg-height: 28px;
$switch-text-lg-font-size: 12px;
$switch-text-width: 48px;
$switch-text-height: 24px;
$switch-text-font-size: 10px;
$switch-text-sm-width: 40px;
$switch-text-sm-height: 20px;
$switch-text-sm-font-size: 8px;
$switch-text-xs-width: 32px;
$switch-text-xs-height: 16px;
$switch-text-xs-font-size: 7px;
$switch-icon-lg-width: 56px;
$switch-icon-lg-height: 28px;
$switch-icon-lg-font-size: 12px;
$switch-icon-width: 48px;
$switch-icon-height: 24px;
$switch-icon-font-size: 10px;
$switch-icon-sm-width: 40px;
$switch-icon-sm-height: 20px;
$switch-icon-sm-font-size: 8px;
$switch-icon-xs-width: 32px;
$switch-icon-xs-height: 16px;
$switch-icon-xs-font-size: 7px;
.switch.switch-default {
    @include switch('default', $switch-width, $switch-height, $switch-font-size, $handle-margin);
}

.switch.switch-text {
    @include switch('text', $switch-text-width, $switch-text-height, $switch-text-font-size, $handle-margin);
}

.switch.switch-icon {
    @include switch('icon', $switch-icon-width, $switch-icon-height, $switch-icon-font-size, $handle-margin);
}

.switch.switch-3d {
    @include switch('ddd', $switch-width, $switch-height, $switch-font-size, 0);
}

//pills style
.switch-pill {
    .switch-label,
    .switch-handle {
        border-radius: 50em !important;
    }
    .switch-label::before {
        right: 2px !important;
    }
    .switch-label::after {
        left: 2px !important;
    }
}

@each $color,
$value in $theme-colors {
    //normal style
    .switch-#{$color} {
        @include switch-variant($value);
    }
    //outline style
    .switch-#{$color}-outline {
        @include switch-outline-variant($value);
    }
    //outline alternative style
    .switch-#{$color}-outline-alt {
        @include switch-outline-alt-variant($value);
    }
}


/*********************************/


/* Customize the label (the container) */

.contenedor-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.contenedor-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #6db393;
}


/* On mouse-over, add a grey background color */

.contenedor-check:hover input~.checkmark {
    background-color: #36775a;
}


/* When the checkbox is checked, add a blue background */

.contenedor-check input:checked~.checkmark {
    background-color: #027339;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.contenedor-check input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.contenedor-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
