.input-group-sm > .form-control:not(textarea), .input-group-sm > .custom-select {
  height: calc(1.5em + 0.75rem + 2px) !important;
}

.input-date {
  display: inline-block;
}


.input-date::-webkit-search-cancel-button,
.input-date::-webkit-clear-button {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000" fill-opacity=".54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  height: 1.5rem;
  margin-right: 0;
  width: 1.5rem;
}

.input-date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000" fill-opacity=".54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
  width: 14px;
  height: 18px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: .5rem;
}

.input-date::-webkit-calendar-picker-indicator:hover {
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
}

.btn-outline-info:hover, .btn-outline-info:active{
  color: white;
}

ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.image-cs {
  border-radius: 3px;
  min-height: 80px;
  margin: 0 0 8px;
  overflow: hidden;
  position: relative;
}

.image-cs-preview {
  background-color: rgba(9,30,66,.04);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 80px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  width: 112px;
}

.image-cs-details {
  box-sizing: border-box;
  padding: 8px 8px 8px 128px;
  min-height: 80px;
  margin: 0;
  z-index: 0;
}

.image-cs-details .image-cs-name {
  font-weight: 700;
  word-wrap: break-word;
}

.image-cs-details-title-action {
  padding-left: 3px;
}

.image-cs-details-title-options {
  margin-bottom: 8px;
}
.quiet, .quiet a {
  color: #5e6c84;
}
.u-block {
  display: block;
}

.image-cs-preview-ext {
  color: #5e6c84;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}
/**************************************************/

.new-comment {
  position: relative;
  margin: 0 0 8px 40px;
}

.new-comment .member {
  position: absolute;
  left: -40px;
}
.member-no-menu {
  cursor: default;
}
.member {
  background-color: #dfe1e6;
  border-radius: 25em;
  color: #172b4d;
  cursor: pointer;
  display: block;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.member-initials {
  display: block;
  font-size: 12px;
  font-weight: 700;
  height: 32px;
  left: 0;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.member-no-menu {
  cursor: default;
}

.member-initials {
  display: block;
  font-size: 12px;
  font-weight: 700;
  height: 32px;
  left: 0;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}



.comment-frame {
  background-color: #fff;
  border-radius: 3px;
  margin: 4px 4px 12px 0;
  overflow: hidden;
  position: relative;
  transition: box-shadow 85ms ease;
}

.comment-box {
  padding: 8px 12px;
  position: relative;
  transition-duration: 85ms;
  transition-timing-function: ease;
  transition-property: padding-bottom;
}

.new-comment:not(.is-focused):not(.is-show-controls) .comment-box-input {
  padding: 8px 12px;
  margin: -8px -12px;
}
.comment-box-input, .comment-box-input:active, .comment-box-input:focus, .comment-box-input:hover {
  border: 0;
  box-shadow: none;
}
.comment-box-input {
  background: #fff!important;
  box-sizing: content-box;
  box-shadow: none;
  height: 20px;
  margin: 0;
  min-height: 20px;
  padding: 0;
  width: 100%;
  resize: none;
}

/*
textarea {
  resize: vertical;
  width: 100%;
}
 textarea {
  background-color: #fafbfc;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  color: #172b4d;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 8px 12px;
  transition-property: background-color,border-color,box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}
*/
.comment-controls {
  opacity: 0;
  position: absolute;
  bottom: 8px;
  left: 12px;
  transform: translateY(48px);
  transition-duration: 85ms;
  transition-timing-function: ease;
  transition-property: opacity,transform;
}

.comment-item{
  padding: 10px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
}

.body-comment {
  max-height: 210px;
  overflow-y: auto;
}

.container input:disabled ~ .checkmark {
  background-color: #c8ced3;
}

.container input:disabled ~ .checkmark:after {
  display: none;
}
