<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>
        <span class="card-title text-uppercase font-weight-bold">Socios</span>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>

          <tr class="text-center">
            <th>#</th>
            <th>ID Socio</th>
            <th>Cod Socio</th>
            <th>Alias</th>
            <th>Dirección</th>
            <th>Más</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of socios; index as i; ">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ o.socioId}}</td>
            <td class="text-center">{{ o.codSocio}}</td>
            <td class="text-center">{{ o.alias}}</td>
            <td class="text-center">{{ o.direccion}}</td>
            <td class="text-center">
              <button (click)="direcciones(o.socioId)" class="btn btn-instagram btn-sm mr-5px" type="button"
                      style="margin-bottom: 4px"
                      placement="bottom" ngbTooltip="Direcciónes">
                <i class="fa fa-location-arrow"></i>
              </button>
              <button (click)="telefonos(o.socioId)" class="btn btn-instagram btn-sm mr-5px" type="button"
                      style="margin-bottom: 4px"
                      placement="bottom" ngbTooltip="Teléfonos">
                <i class="fa fa-phone text-white"></i>
              </button>
              <button (click)="emails(o.socioId)" class="btn btn-instagram btn-sm mr-5px" type="button"
                      style="margin-bottom: 4px"
                      placement="bottom" ngbTooltip="Emails">
                <i class="fa fa-at text-white"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary mr-5px" (click)="regresar()"><i class="fa fa-hand-o-left"></i>
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
