<div class="modal-content">
  <div class="modal-header justify-content-center">
    <h4 class="modal-title">Informar un Pago</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="form-group" *ngIf="info">
          <span>IP: <b>{{ info.ipAddress }}</b></span><br>
          <span *ngIf="info.address">Dirección: <b>{{ info.address }}</b></span><br>
          <span *ngIf="info.latitude">Latitud: <b>{{ info.latitude }}</b></span><br>
          <span *ngIf="info.longitude">Longitud: <b>{{ info.longitude }}</b></span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label>Observación:</label>
          <textarea class="form-control" rows="4" [(ngModel)]="comment"></textarea>
          <small *ngIf="comment.length > 225" class="text-danger">El comentario es muy largo. Max(225 caracteres)</small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="enviar()" [disabled]="comment.trim().length == 0 || comment.trim().length > 225">Enviar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cerrar</button>
  </div>
</div>
