<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>
        <span class="card-title text-uppercase font-weight-bold">Clientes</span>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>

          <tr class="text-center">
            <th>#</th>
            <th>ID Cliente</th>
            <th>Cod Socio</th>
            <th>Alias</th>
            <th>Dirección</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of clientes; index as i; ">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ o.clienteId}}</td>
            <td class="text-center">{{ o.codSocio}}</td>
            <td class="text-center">{{ o.alias}}</td>
            <td class="text-center">{{ o.direccion}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary mr-5px" (click)="regresar()"><i class="fa fa-hand-o-left"></i>
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>
<app-loading></app-loading>
